<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.endlesstv.flagship</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>10880</integer>
	<key>description</key>
	<string>Removes ad when pausing video.  (5-22-14)</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Remove Ads</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GADDelegateManager</string>
				<key>displayName</key>
				<string>-(void) setAdView:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAdView:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) setAdView:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
