<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.bhmedia.tvhdfree</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>11129</integer>
	<key>description</key>
	<string>Removes popup &amp; banner ad.</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Remove Ads</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GADViewController</string>
				<key>displayName</key>
				<string>-(id) init</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>init</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) init</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GADBannerView</string>
				<key>displayName</key>
				<string>-(void) setAdSize:(GADAdSize) andReload:(BOOL)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAdSize:andReload:</string>
				<key>typeEncoding</key>
				<string>v24@0:4{GADAdSize={CGSize=ff}I}8c20</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) setAdSize:(GADAdSize) andReload:(BOOL)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
