<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.songza.Songza</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>11537</integer>
	<key>description</key>
	<string>Removes Status Bar and/or Foreground.  By default, only the foreground is removed.	To remove the status bar entirely, change the second entry to TRUE (looks best w/iPad).
 
[v.2] Tested with versions 3.2.5 - 3.3.2 on an iP6+ 9.0.2.  (11-11-15)

⚑ UPDATES:
(10-21-14) *Initial release
(11-12-15) *Fixed foreground on iOS 9

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Status Bar - Foreground (ver. 3.2.5 - 3.3.2)  ₁₁₋₁₂₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIStatusBarForegroundStyleAttributes</string>
				<key>displayName</key>
				<string>-(id) initWithHeight:(double) legibilityStyle:(long long) tintColor:(id) hasBusyBackground:(bool) idiom:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithHeight:legibilityStyle:tintColor:hasBusyBackground:idiom:</string>
				<key>typeEncoding</key>
				<string>@52@0:8d16q24@32B40q44</string>
			</dict>
			<key>name</key>
			<string>Status Bar Foreground: (Return Value) Hide=(NULL), Show=pass-through</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIViewController</string>
				<key>displayName</key>
				<string>-(bool) prefersStatusBarHidden</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>prefersStatusBarHidden</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Remove Status Bar: Yes=TRUE, No=FALSE</string>
			<key>overrides</key>
			<array>
				<array/>
			</array>
		</dict>
	</array>
</dict>
</plist>
