<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.cw.fullepisodes.ios</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>12364</integer>
	<key>description</key>
	<string>All in one ad remover for CW.  No startup/banner/preroll ads &amp; no commercials.  Tested with version 1.23.934.  (8-13-14)</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>[AIO] No Startup/Banner/Preroll Ads &amp; No Commercials (ver. 1.23.934)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CWSplashScreenStaticImage</string>
				<key>displayName</key>
				<string>-(id) initRemoteImageWithDuration:(unsigned int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initRemoteImageWithDuration:</string>
				<key>typeEncoding</key>
				<string>@12@0:4I8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) initRemoteImageWithDuration:(unsigned int)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>11</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>11</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GADBannerView</string>
				<key>displayName</key>
				<string>-(void) setAdSize:(GADAdSize) andReload:(BOOL)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAdSize:andReload:</string>
				<key>typeEncoding</key>
				<string>v24@0:4{GADAdSize={CGSize=ff}I}8c20</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) setAdSize:(GADAdSize) andReload:(BOOL)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>com_ds_ads_AdManager</string>
				<key>displayName</key>
				<string>-(unsigned char) getCanPlayPreroll</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>getCanPlayPreroll</string>
				<key>typeEncoding</key>
				<string>C8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(unsigned char) getCanPlayPreroll</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>10</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>10</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>com_ds_metadata_AdBreak</string>
				<key>displayName</key>
				<string>-(int) getStartTime</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>getStartTime</string>
				<key>typeEncoding</key>
				<string>i8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(int) getStartTime</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>999999</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
