<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.mtvn.mtvPrimeiPad</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>12393</integer>
	<key>description</key>
	<string>All in one patch for MTV.  Bypasses login provider, no ads &amp; no commercials.	Tested with versions 2.4 - 2.6. (12-18-14)</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>[AIO] Bypass Login, No Ads/Commercials (ver. 2.4 - 2.6)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTVConfig</string>
				<key>displayName</key>
				<string>-(id) getAds</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>getAds</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) getAds</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTVTVESubscriber</string>
				<key>displayName</key>
				<string>-(BOOL) isAuthorized</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isAuthorized</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) isAuthorized</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTVTVESubscriber</string>
				<key>displayName</key>
				<string>-(BOOL) isAuthenticated</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isAuthenticated</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) isAuthenticated</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTVHomeAdView</string>
				<key>displayName</key>
				<string>-(id) initWithFrame:(CGRect)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithFrame:</string>
				<key>typeEncoding</key>
				<string>@24@0:4{CGRect={CGPoint=ff}{CGSize=ff}}8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) initWithFrame:(CGRect)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTVShowAdView</string>
				<key>displayName</key>
				<string>-(id) initWithFrame:(CGRect)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithFrame:</string>
				<key>typeEncoding</key>
				<string>@24@0:4{CGRect={CGPoint=ff}{CGSize=ff}}8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) initWithFrame:(CGRect)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTVBrowseAdView</string>
				<key>displayName</key>
				<string>-(id) initWithFrame:(CGRect)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithFrame:</string>
				<key>typeEncoding</key>
				<string>@24@0:4{CGRect={CGPoint=ff}{CGSize=ff}}8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) initWithFrame:(CGRect)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTVOnTvTileAdView</string>
				<key>displayName</key>
				<string>-(id) initWithFrame:(CGRect)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithFrame:</string>
				<key>typeEncoding</key>
				<string>@24@0:4{CGRect={CGPoint=ff}{CGSize=ff}}8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) initWithFrame:(CGRect)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>VMNPlayer</string>
				<key>displayName</key>
				<string>-(void) setAdView:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAdView:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) setAdView:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>VMNPlayer</string>
				<key>displayName</key>
				<string>-(bool) spinnerEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>spinnerEnabled</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(bool) spinnerEnabled</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
