<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.discovery.animal</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>12497</integer>
	<key>description</key>
	<string>All in one patch for Animal Planet.  Faster startup, no banner ads &amp; no commercials.  Tested with most recent version 2.6.6.  (8-15-14)</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>[AIO] Faster Startup, No Banner Ads/Commercials (ver. 2.6.6)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>DCSplashViewController</string>
				<key>displayName</key>
				<string>-(void) setSplashView:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSplashView:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) setSplashView:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>FWAd</string>
				<key>displayName</key>
				<string>-(unsigned int) adId</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>adId</string>
				<key>typeEncoding</key>
				<string>I8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(unsigned int) adId</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>11</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>11</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>DCMainNavigationViewController</string>
				<key>displayName</key>
				<string>-(BOOL) bannerAdLoaded</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>bannerAdLoaded</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) bannerAdLoaded</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>DCControlBarController</string>
				<key>displayName</key>
				<string>-(void) addCuePointViews</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>addCuePointViews</string>
				<key>typeEncoding</key>
				<string>v8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) addCuePointViews</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
