<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.foodnetwork.tveverywhere</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>12499</integer>
	<key>description</key>
	<string>All in one patch for Food Network.  No startup ad &amp; no commercials.  FF through the embedded commercials.  Tested with versions 1.1 &amp; 1.1.1.  UPDATED (10-15-14)</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>[AIO] No Startup Ad &amp; No Commercials (ver. 1.1 &amp; 1.1.1)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SNISplashScreenViewController</string>
				<key>displayName</key>
				<string>-(BOOL) isVideoFinished</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isVideoFinished</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) isVideoFinished</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>FWAd</string>
				<key>displayName</key>
				<string>-(unsigned int) adId</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>adId</string>
				<key>typeEncoding</key>
				<string>I8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(unsigned int) adId</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>11</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>11</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SNIAsset</string>
				<key>displayName</key>
				<string>-(void) setAdCuePoints:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAdCuePoints:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) setAdCuePoints:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
