<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.clearchannel.iheartradio</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>13140</integer>
	<key>description</key>
	<string>All in one patch for iHeartRadio.  Tested with versions 5.2.0 - 5.9.0.	UPDATED (5-22-15)

(FYI):	Temporarily disable this patch to access the [For You --&gt; "Improve Recommendations" button].

• No rate me popup
• No audio/video/banner ads
• No copyright labels
• Disable iTunes 'Buy Song' button
• Unlimited skips
• No status bar activity indicator</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>[AIO] No Ads/© Labels/Rate Me/Buy Button/SB AI &amp; Unlimited Skips (ver. 5.2.0 - 5.9.0)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>iRate</string>
				<key>displayName</key>
				<string>-(BOOL) shouldPromptForRating</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>shouldPromptForRating</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) shouldPromptForRating</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GADAdFetcher</string>
				<key>displayName</key>
				<string>-(id) init</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>init</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) init</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>IHRWebserviceManager</string>
				<key>displayName</key>
				<string>-(void) getItunesBuyLinkWithSearchString:(id) andCompletionBlock:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>getItunesBuyLinkWithSearchString:andCompletionBlock:</string>
				<key>typeEncoding</key>
				<string>v16@0:4@8@?12</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) getItunesBuyLinkWithSearchString:(id) andCompletionBlock:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SongCell</string>
				<key>displayName</key>
				<string>-(id) buyButton</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>buyButton</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) buyButton</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>HomePageVC</string>
				<key>displayName</key>
				<string>-(void) addCopyrightToTable:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>addCopyrightToTable:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) addCopyrightToTable:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>HomePageVC</string>
				<key>displayName</key>
				<string>-(void) addCopyright:(int) toTable:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>addCopyright:toTable:</string>
				<key>typeEncoding</key>
				<string>v16@0:4i8@12</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) addCopyright:(int) toTable:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>IHRViewController</string>
				<key>displayName</key>
				<string>-(void) addCopyright:(int) toTable:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>addCopyright:toTable:</string>
				<key>typeEncoding</key>
				<string>v16@0:4i8@12</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) addCopyright:(int) toTable:(id)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>Configuration</string>
				<key>displayName</key>
				<string>-(BOOL) isNoSkipLimitEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isNoSkipLimitEnabled</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) isNoSkipLimitEnabled</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>Configuration</string>
				<key>displayName</key>
				<string>-(BOOL) liveRadioVideoAdEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>liveRadioVideoAdEnabled</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) liveRadioVideoAdEnabled</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>Configuration</string>
				<key>displayName</key>
				<string>-(BOOL) liveRadioCompanionAdEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>liveRadioCompanionAdEnabled</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) liveRadioCompanionAdEnabled</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>Configuration</string>
				<key>displayName</key>
				<string>-(BOOL) customRadioVideoAdEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>customRadioVideoAdEnabled</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) customRadioVideoAdEnabled</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>Configuration</string>
				<key>displayName</key>
				<string>-(BOOL) customRadioAudioAdEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>customRadioAudioAdEnabled</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) customRadioAudioAdEnabled</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>Configuration</string>
				<key>displayName</key>
				<string>-(BOOL) customRadioCompanionAdEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>customRadioCompanionAdEnabled</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) customRadioCompanionAdEnabled</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIActivityIndicatorView</string>
				<key>displayName</key>
				<string>-(id) initWithActivityIndicatorStyle:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithActivityIndicatorStyle:</string>
				<key>typeEncoding</key>
				<string>@12@0:4i8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) initWithActivityIndicatorStyle:(int)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>IHRiRate</string>
				<key>displayName</key>
				<string>-(void) promptForRating</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>promptForRating</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) promptForRating</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>iRate</string>
				<key>displayName</key>
				<string>-(bool) ratedThisVersion</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>ratedThisVersion</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Unit for -(bool) ratedThisVersion</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
