<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.abcdigital.abc.videoplayer</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>13173</integer>
	<key>description</key>
	<string>Removes commercials (except w/Chromecast) &amp; removes forced update version checks for the WATCH ABC app.  Tested with versions 4.0.4 - 4.1.6.  UPDATED (2-28-15)</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Commercials (ver. 4.0.4 - 4.1.6)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>VPAdBreak</string>
				<key>displayName</key>
				<string>-(BOOL) watched</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>watched</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) watched</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>ABCVODVideoPlayerViewController</string>
				<key>displayName</key>
				<string>-(id) adCues</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>adCues</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) adCues</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>ServiceCallManager</string>
				<key>displayName</key>
				<string>-(BOOL) checkVersions</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>checkVersions</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) checkVersions</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
