<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.nbaimd.gametime.universal</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>13478</integer>
	<key>description</key>
	<string>All in one patch for NBA GAMETIME.  Bypasses login &amp; blackouts and removes banner ads &amp; status bar foreground.  Tested with versions 3.1214 - 41019.  (10-21-14)</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>[AIO] Bypass Login &amp; Blackouts, No Ads/Status Bar (ver. 31214 - 41019)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MKStoreManager</string>
				<key>displayName</key>
				<string>-(BOOL) isProductTypePurchased:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isProductTypePurchased:</string>
				<key>typeEncoding</key>
				<string>c12@0:4i8</string>
			</dict>
			<key>name</key>
			<string>Bypass Login</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NLAccessControlManager</string>
				<key>displayName</key>
				<string>-(BOOL) isVIPAccount</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isVIPAccount</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Bypass Login</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NLAccessControlManager</string>
				<key>displayName</key>
				<string>-(BOOL) isLiveChannelAvailableForCurrentLocation</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isLiveChannelAvailableForCurrentLocation</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Remove Location Check</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NLGeoManager</string>
				<key>displayName</key>
				<string>-(void) setLocmanager:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setLocmanager:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Remove Location Check</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NLNBAGeoManager</string>
				<key>displayName</key>
				<string>-(void) geoCheckRequestDone:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>geoCheckRequestDone:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Remove Geo Block</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GADAdFetcher</string>
				<key>displayName</key>
				<string>-(id) init</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>init</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Removes Banner Ads</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIStatusBarForegroundStyleAttributes</string>
				<key>displayName</key>
				<string>-(id) initWithHeight:(float) legibilityStyle:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithHeight:legibilityStyle:</string>
				<key>typeEncoding</key>
				<string>@16@0:4f8i12</string>
			</dict>
			<key>name</key>
			<string>Status Bar Foreground: (NULL)=none, pass-through=yes</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
