<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>13861</integer>
	<key>description</key>
	<string>Disables the blurred background of the dock and removes the white transverse line above the dock.  (iOS 8)  

FYI's:   After a respring, the dock background will remain visible until an app or folder is opened...afterwards, it will disappear.  While in landscape on the iP6+, apps from the next springboard page will be visible under your dock apps.</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Dock - No Background with No White Line (iOS 8)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDockView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundAlpha:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundAlpha:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) setBackgroundAlpha:(double)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBHighlightView</string>
				<key>displayName</key>
				<string>-(id) initWithFrame:(CGRect) highlightAlpha:(double) highlightHeight:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithFrame:highlightAlpha:highlightHeight:</string>
				<key>typeEncoding</key>
				<string>@64@0:8{CGRect={CGPoint=dd}{CGSize=dd}}16d48d56</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) initWithFrame:(CGRect) highlightAlpha:(double) highlightHeight:(double)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
