<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.spotify.client</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>15103</integer>
	<key>description</key>
	<string>Supplemental patch to enhance the features of the Bday Spotify Tweak.  This patch adds the following features...

• Re-enables the option for extreme quality. (NOTE:  Extreme quality ONLY works w/versions 1.7.1 &amp; below &amp; it causes the first 2 seconds of songs to replay)
• Removes ads
• Removes the big green shuffle button.  (Delete this entry to keep the shuffle button)


</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Bday Spotify ENHANCER Patch</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>StreamQualitySettingsSection</string>
				<key>displayName</key>
				<string>-(int) numberOfChoices</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>numberOfChoices</string>
				<key>typeEncoding</key>
				<string>i8@0:4</string>
			</dict>
			<key>name</key>
			<string>Adds Extreme Quality Option (FYI: Extreme ONLY works w/versions 1.7.1 &amp; below)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>3</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PlayController</string>
				<key>displayName</key>
				<string>-(id) initWithSession:(id) adController:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithSession:adController:</string>
				<key>typeEncoding</key>
				<string>@16@0:4@8@12</string>
			</dict>
			<key>name</key>
			<string>Removes Ads</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SPTActionButton</string>
				<key>displayName</key>
				<string>-(void) setFrame:(CGRect)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setFrame:</string>
				<key>typeEncoding</key>
				<string>v24@0:4{CGRect={CGPoint=ff}{CGSize=ff}}8</string>
			</dict>
			<key>name</key>
			<string>(Optional) Removes Big Green Shuffle Button (Delete This Entry To Keep The Button)</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
