<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobilephone</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>15110</integer>
	<key>description</key>
	<string>Gives the Dialer Keypad a transparent like appearance.	UPDATED (10-31-14).

I've made some general suggestions next to each entry however they're all customizable.  By default, this removes the status bar &amp; keypad buttons (+call button BG on 7.x).  To edit this patch, download the Installed/Flex patch titled "Edit Downloaded Patches".	This patch can be combined with some of the other "Dialer Keypad" patches as well.
</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Dialer Keypad Is Transparent [Customizable] (iOS 7)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIStatusBarStyleAttributes</string>
				<key>displayName</key>
				<string>-(id) foregroundStyle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>foregroundStyle</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Status Bar Foreground:	(NULL) = NO, pass-through = YES</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIStatusBarNewUIStyleAttributes</string>
				<key>displayName</key>
				<string>-(id) initWithRequest:(id) backgroundColor:(id) foregroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithRequest:backgroundColor:foregroundColor:</string>
				<key>typeEncoding</key>
				<string>@20@0:4@8@12@16</string>
			</dict>
			<key>name</key>
			<string>Status Bar Colors:			 (Argument#2) = Background	(Argument#3) = Foreground</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PHHandsetDialerLCDView</string>
				<key>displayName</key>
				<string>-(id) lcdColor</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>lcdColor</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>LCD Display:	(NULL) = Transparent, pass-through = White</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PHHandsetDialerView</string>
				<key>displayName</key>
				<string>-(id) dialerColor</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>dialerColor</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>TPBackgroundRoundedRectView</string>
				<key>displayName</key>
				<string>-(void) drawRect:(CGRect)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>drawRect:</string>
				<key>typeEncoding</key>
				<string>v24@0:4{CGRect={CGPoint=ff}{CGSize=ff}}8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>TPPathView</string>
				<key>displayName</key>
				<string>-(void) setFillColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setFillColor:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Button Color:  (NOTE):	This changes the button color BUT it also adds solid colored buttons to the in call keypad.  If you're not changing the button color, I recommend DELETING this entry.</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:94,214,214,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>TPRevealingRingView</string>
				<key>displayName</key>
				<string>-(float) alphaInsideRing</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>alphaInsideRing</string>
				<key>typeEncoding</key>
				<string>f8@0:4</string>
			</dict>
			<key>name</key>
			<string>Button View/Alpha:	(0.0-1.0 Higher #=Darker) ie. 0=None, 0.05=Light, 0.25=darker etc.</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>TPRevealingRingView</string>
				<key>displayName</key>
				<string>-(void) setDefaultRingStrokeWidth:(float)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setDefaultRingStrokeWidth:</string>
				<key>typeEncoding</key>
				<string>v12@0:4f8</string>
			</dict>
			<key>name</key>
			<string>Button Size:	(Best Range 0-12, Higher # = Smaller Size Button) 2=Stock</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>TPRevealingRingView</string>
				<key>displayName</key>
				<string>-(int) animationStyle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>animationStyle</string>
				<key>typeEncoding</key>
				<string>i8@0:4</string>
			</dict>
			<key>name</key>
			<string>Button Animation:  -1=None, 0=After Pressed, 1=As Pressed</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>TPButton</string>
				<key>displayName</key>
				<string>-(void) setButtonColor:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setButtonColor:</string>
				<key>typeEncoding</key>
				<string>v12@0:4i8</string>
			</dict>
			<key>name</key>
			<string>• (Removes Green Call Button BG on 7.x.  DELETE this entry to restore the green BG)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITabBarButton</string>
				<key>displayName</key>
				<string>-(void) _setContentTintColor:(id) forState:(unsigned int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setContentTintColor:forState:</string>
				<key>typeEncoding</key>
				<string>v16@0:4@8I12</string>
			</dict>
			<key>name</key>
			<string>Tab Bar Image Color</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:136,136,136,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITabBarSwappableImageView</string>
				<key>displayName</key>
				<string>-(void) showAlternateImage:(BOOL)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showAlternateImage:</string>
				<key>typeEncoding</key>
				<string>v12@0:4c8</string>
			</dict>
			<key>name</key>
			<string>Show Alternate Tab Bar Image:  (TRUE or FALSE)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
