<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>15704</integer>
	<key>description</key>
	<string>Changes lockscreen Date Text &amp; Color.  Tested with iP6+ 8.0 - 8.4.  (7-14-15)

UPDATES:
(??-??-??) *Initial release
(7-14-15) *Changed patch title

● If you enjoy my patches, please consider sending a donation...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS • Custom Date Text &amp; Color  ₇₋₁₄₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBLockScreenDateViewController</string>
				<key>displayName</key>
				<string>-(void) setCustomSubtitleText:(id) withColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setCustomSubtitleText:withColor:</string>
				<key>typeEncoding</key>
				<string>v32@0:8@16@24</string>
			</dict>
			<key>name</key>
			<string>(Argument #1): Text  (Argument #2): Color</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>Flex</string>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:114,16,238,255</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
