<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobilephone</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>16776</integer>
	<key>description</key>
	<string>Disables all tabs except Favorites &amp; (for the most part) disables editing of Contact information.  Made as a request via r/jailbreak.  Tested on iP6+ 8.1.  (5-30-15)

⚑ UPDATES:
(1-2-15) *Initial release
(1-9-15) *Disabled delete action when swiping
(5-30-15) *Disabled &amp; removed "i" button

● If you enjoy my patches, please consider sending a donation...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>ONLY Favorites  ₅₋₃₀₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PhoneTabBarController</string>
				<key>displayName</key>
				<string>-(void) showFavoritesTab:(bool) recentsTab:(bool) contactsTab:(bool) keypadTab:(bool) voicemailTab:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showFavoritesTab:recentsTab:contactsTab:keypadTab:voicemailTab:</string>
				<key>typeEncoding</key>
				<string>v36@0:8B16B20B24B28B32</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>3</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>4</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>5</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PhoneTabBarController</string>
				<key>displayName</key>
				<string>-(int) defaultTabViewType</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>defaultTabViewType</string>
				<key>typeEncoding</key>
				<string>i16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UINavigationItem</string>
				<key>displayName</key>
				<string>-(void) _setLeftBarButtonItem:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setLeftBarButtonItem:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UINavigationItem</string>
				<key>displayName</key>
				<string>-(void) _setRightBarButtonItem:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setRightBarButtonItem:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>ABContactViewController</string>
				<key>displayName</key>
				<string>-(bool) allowsSendMessage</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>allowsSendMessage</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>ABContactViewController</string>
				<key>displayName</key>
				<string>-(bool) allowsSharing</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>allowsSharing</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>ABContactViewController</string>
				<key>displayName</key>
				<string>-(bool) allowsContactBlocking</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>allowsContactBlocking</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PHFavoritesViewController</string>
				<key>displayName</key>
				<string>-(bool) tableView:(id) canEditRowAtIndexPath:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>tableView:canEditRowAtIndexPath:</string>
				<key>typeEncoding</key>
				<string>B32@0:8@16@24</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PHFavoritesViewController</string>
				<key>displayName</key>
				<string>-(void) tableView:(id) accessoryButtonTappedForRowWithIndexPath:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>tableView:accessoryButtonTappedForRowWithIndexPath:</string>
				<key>typeEncoding</key>
				<string>v32@0:8@16@24</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIButton</string>
				<key>displayName</key>
				<string>-(void) _updateImageView</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_updateImageView</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
