<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>20319</integer>
	<key>description</key>
	<string>Disables the sound, vibration &amp; screen from waking when connecting (or disconnecting) to a power source.  Made after reading a few requests on r/jailbreak. Tested on iP6+ 8.1.  (4-6-15)

(Notes:)  Also disables the sound &amp; vibration after respringing.  Beware, using this patch will nullify all Activator assignments utilizing the events "connected" or "disconnected" from power.</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>StealthPower  ₄₋₆₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUIController</string>
				<key>displayName</key>
				<string>-(void) _indicateConnectedToPower</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_indicateConnectedToPower</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUIController</string>
				<key>displayName</key>
				<string>-(void) ACPowerChanged</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>ACPowerChanged</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
