<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>20438</integer>
	<key>description</key>
	<string>Changes Colors of the following items...  Change colors or delete the entires you don't want changed by swiping left.  Tested with an iP6+ 8.1.  (4-15-15)

• Camera &amp; Mic Buttons
• Text Input Field BG
• Text Input Field Border
• Blinking Caret
• Text Selection Bars
• Predictive Text
• Highlighted Text

⚑ UPDATES:
(4-??-15) *Initial release
(4-15-15) *Added highlighted text

● If you enjoy my patches, please consider sending a donation...

☞PayPal:  goin730@gmail.com
</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Custom Colors  ₄₋₁₅₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIButton</string>
				<key>displayName</key>
				<string>-(void) setTintColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTintColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Camera &amp; Mic Buttons</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,122,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UITextFieldRoundedRectBackgroundViewNeue</string>
				<key>displayName</key>
				<string>-(void) setFillColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setFillColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Text Input Field BG</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UITextFieldRoundedRectBackgroundViewNeue</string>
				<key>displayName</key>
				<string>-(void) setStrokeColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setStrokeColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Text Input Field Border</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,122,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITextInputTraits</string>
				<key>displayName</key>
				<string>-(void) setInsertionPointColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setInsertionPointColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Blinking Caret</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,122,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITextInputTraits</string>
				<key>displayName</key>
				<string>-(void) setSelectionBarColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSelectionBarColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Text Selection Bars</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,122,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIMorphingLabel</string>
				<key>displayName</key>
				<string>-(void) setTextColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTextColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Predictive Text</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UILabel</string>
				<key>displayName</key>
				<string>-(void) setHighlightedTextColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setHighlightedTextColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Highlighted Text</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,122,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
