<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>20432</integer>
	<key>description</key>
	<string>Makes Balloon corners square &amp; attachment corners round.  Tested with iP6+ 8.1 &amp; 8.4.  (7-19-15)

⚑ UPDATES:
(4-10-15) *Initial release
(7-19-15) *Removed a method I used for testing which I apparently left in when originally submitting

● If you enjoy my patches, please consider sending a donation...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Square Balloons (w/round attachments)  ₇₋₁₉₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKBalloonChatItem</string>
				<key>displayName</key>
				<string>-(unsigned long long) balloonCorners</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>balloonCorners</string>
				<key>typeEncoding</key>
				<string>Q16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>14</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>14</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKUIBehavior</string>
				<key>displayName</key>
				<string>-(double) balloonMaskTailWidth</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>balloonMaskTailWidth</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKImageBalloonView</string>
				<key>displayName</key>
				<string>-(void) setHasTail:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setHasTail:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
