<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.gasbuddymobile.gasbuddy</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>20830</integer>
	<key>description</key>
	<string>Removes All Ads (&amp; the empty spaces) in the GasBuddy app.  Made as a request via r/jailbreak.

[v.4] Tested with versions (2.7.1 - 3.1.4).  (11-18-15)

⚑ UPDATES:
(??-??-15) *Initial release
(7-1-15) *Removed newer ads
(8-7-15) *Removed newest ads
(10-6-15) *Confirmed still working with 3.1.1
(11-18-15) Updated for 3.1.4

★ If you'd like to donate via PayPal, please send money to...

☞  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Remove All Ads (ver. 2.7.1 - 3.1.4)  ₁₁₋₁₈₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GADAdFetcher</string>
				<key>displayName</key>
				<string>-(id) init</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>init</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBTableHeaderView</string>
				<key>displayName</key>
				<string>-(id) initWithCoder:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithCoder:</string>
				<key>typeEncoding</key>
				<string>@24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YMImageMapView</string>
				<key>displayName</key>
				<string>-(id) initWithImage:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithImage:</string>
				<key>typeEncoding</key>
				<string>@24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBStation</string>
				<key>displayName</key>
				<string>-(id) detailsAd</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>detailsAd</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBDAL</string>
				<key>displayName</key>
				<string>-(id) inlineAds</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>inlineAds</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBStationListDataSource</string>
				<key>displayName</key>
				<string>-(id) inlineAds</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>inlineAds</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBStationListDataSource</string>
				<key>displayName</key>
				<string>-(void) setupYieldMoPositions</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setupYieldMoPositions</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBStationListViewController</string>
				<key>displayName</key>
				<string>-(void) setupBottomDFPAd</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setupBottomDFPAd</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBScrollableHomeScreen</string>
				<key>displayName</key>
				<string>-(float) DFPAdHeight</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>DFPAdHeight</string>
				<key>typeEncoding</key>
				<string>f16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBStationListDataSource</string>
				<key>displayName</key>
				<string>-(id) inlineDFPListAds</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>inlineDFPListAds</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBAdController</string>
				<key>displayName</key>
				<string>-(BOOL) isAdPositionActive:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isAdPositionActive:</string>
				<key>typeEncoding</key>
				<string>c12@0:4i8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GBAdAgent</string>
				<key>displayName</key>
				<string>-(BOOL) isInlineDFPAdActive</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isInlineDFPAdActive</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
