<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.waze.iphone</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>21439</integer>
	<key>description</key>
	<string>Removes the menu, sound &amp; friends buttons while still retaining their functionality.

NOTE:  Makes the report button white.

[v.2]  Tested with versions (3.9.4 - 4.6.0).  (5-19-16)

⚑ UPDATES:
(6-1-15) *Initial release
(5-19-16) *Updated for new versions

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Menu Button (v. 3.9.4 - 4.6.0)  ₅₋₁₉₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>BottomBar</string>
				<key>displayName</key>
				<string>-(void) setMenuButton:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setMenuButton:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PushButton</string>
				<key>displayName</key>
				<string>-(void) layoutSubviews</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>layoutSubviews</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
