<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>22726</integer>
	<key>description</key>
	<string>Speeds up Notification Center by disabling the following...

• Bounce
• Dismiss Animation

[v.1] Tested on iP6+ 8.4.  (7-13-15)

You may also want to try the CC equivalent to this patch titled...

  ➠ CC • Speed Up

● If you'd like to donate via PayPal, please send money to...

☞  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>NC • Speed Up  ₇₋₁₃₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterSettings</string>
				<key>displayName</key>
				<string>-(void) setBounceSettings:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBounceSettings:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Bounce</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterController</string>
				<key>displayName</key>
				<string>-(void) dismissAnimated:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>dismissAnimated:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Dismiss Animation</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
