<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>23893</integer>
	<key>description</key>
	<string>Removes Separators from Notification Popup &amp; Action Sheet Alerts.

[v.1] Tested with an iP6+ 8.4.  (8-17-15)

★ If you'd like to donate via PayPal, please send money to...

☞  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Alerts • No Separators  ₈₋₁₇₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerCollectionViewFlowLayout</string>
				<key>displayName</key>
				<string>-(bool) hideSeparators</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>hideSeparators</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertControllerVisualStyle</string>
				<key>displayName</key>
				<string>-(bool) hideActionSeparators</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>hideActionSeparators</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
