<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>23894</integer>
	<key>description</key>
	<string>Customize Notification Popups &amp; Action Sheet Alerts with the following customizable CarPlay traits/options...

• Center Alerts
• Wider (up to full screen width)
• Backdrop Visibility
• Backdrop BG Color (opaque)
• Corners (round or square)
• Hide Separators
• Hide Icons
• Remove Titles
• Red Text Action Button Option
• No Cancel Button
• Tap Outside Alert To Dismiss (⚠️: Will delete if default is "Delete", i.e. Icon Delete Alerts.)

[v.6] Only tested with an iP6+ 8.4. (9-15-15)

⚑ UPDATES:
(8-17-15) *Initial release
(8-28-15) *Fixed Spotlight Cancel Button, added Notification full screen popup, merge first cells or remove all separators
(9-8-15) *Changed title and added Color BG, Round Corners &amp; Merge Cancel button options.
(9-13-15) *Added Center Alerts, Hide Icons, No Titles, Red Text Action Buttons, No Cancel Button &amp; Tap Outside To Dismiss options
(9-15-15) *Added Backdrop Visibility option

★ If you'd like to donate via PayPal, please send money to...

☞  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Alerts • Customizable  ₉₋₁₅₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITraitCollection</string>
				<key>displayName</key>
				<string>-(long long) userInterfaceIdiom</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>userInterfaceIdiom</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>3</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UINavigationButton</string>
				<key>displayName</key>
				<string>-(bool) _isExternalRoundedRectButton</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_isExternalRoundedRectButton</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertController</string>
				<key>displayName</key>
				<string>-(long long) preferredStyle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>preferredStyle</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Center Alert:  Yes=1, No=0</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertControllerVisualStyleAlertCar</string>
				<key>displayName</key>
				<string>-(double) verticalContentMargin</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>verticalContentMargin</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string>Vertical Margin:	Full Screen=0</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertControllerVisualStyleAlertCar</string>
				<key>displayName</key>
				<string>-(double) horizontalContentMargin</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>horizontalContentMargin</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string>Horizontal Margin:	Full Screen=0</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(bool) shouldHaveBackdropView</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>shouldHaveBackdropView</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Backdrop:  Show=True, Transparent=False</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerCarBackgroundView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Backdrop BG Color (Opaque):  "DELETE this to SHOW stock backdrop blur"</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:51,51,51,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerCarBackgroundView</string>
				<key>displayName</key>
				<string>-(void) setCornerRadius:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setCornerRadius:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Corner Radius:	(Approx "0 - 90" or "DELETE this to SHOW stock corners")</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>35</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerCollectionViewFlowLayout</string>
				<key>displayName</key>
				<string>-(bool) hideSeparators</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>hideSeparators</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Hide Separators:  True or False</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertAction</string>
				<key>displayName</key>
				<string>-(void) setImage:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setImage:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>No Icon:  "DELETE this to SHOW"</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(bool) _hasTitle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_hasTitle</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show/Hide Title (All Alerts):  True or False</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIActionSheet</string>
				<key>displayName</key>
				<string>-(void) setTitle:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTitle:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>No Title (Action Sheet):  "DELETE this to SHOW"</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertControllerVisualStyleAlertCar</string>
				<key>displayName</key>
				<string>-(long long) maximumNumberOfLinesInTitleLabel</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>maximumNumberOfLinesInTitleLabel</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Max # Of Lines In Title </string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>5</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertControllerVisualStyleAlertCar</string>
				<key>displayName</key>
				<string>-(long long) maximumNumberOfLinesInMessageLabel</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>maximumNumberOfLinesInMessageLabel</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Max # Of Lines In Message</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1000</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertControllerVisualStyleActionSheetCar</string>
				<key>displayName</key>
				<string>-(long long) maximumNumberOfLinesInTitleLabel</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>maximumNumberOfLinesInTitleLabel</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Max # Of Lines In Title (Action Sheet)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>5</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerCollectionViewFlowLayout</string>
				<key>displayName</key>
				<string>-(bool) shouldRoundFirstCell</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>shouldRoundFirstCell</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Combine First Cell:  True or False</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertAction</string>
				<key>displayName</key>
				<string>-(long long) style</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>style</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Red Action Button Color:  Blue=Pass-through, Red=2</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(bool) showsCancelAction</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showsCancelAction</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Cancel Button:  True or False</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(void) setCancelActionIsDiscrete:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setCancelActionIsDiscrete:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Merge Cancel Button:  Yes=False, No=True</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertController</string>
				<key>displayName</key>
				<string>-(bool) _canDismissWithGestureRecognizer</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_canDismissWithGestureRecognizer</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Tap Outside To Dismiss:  ⚠️: True or False</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
