<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobileslideshow</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>24306</integer>
	<key>description</key>
	<string>Shows full photo images by disabling the native full screen/auto zoom feature.  Made after reading a request via r/jailbreak.

[v.1] Tested with an iP6+ 8.4.  (9-2-15)

★ If you'd like to donate via PayPal, please send money to...

☞  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Full Photos (disables auto zoom)  ₉₋₂₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PLPhotoTileViewController</string>
				<key>displayName</key>
				<string>-(void) setZoomScale:(float)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setZoomScale:</string>
				<key>typeEncoding</key>
				<string>v20@0:8f16</string>
			</dict>
			<key>name</key>
			<string>•</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
