<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>24324</integer>
	<key>description</key>
	<string>Disables the 'icon zoom animation' (transition from the LS to HS) when unlocking via Touch ID, Passcode or Sliding To Unlock.  Made after reading a request via r/jailbreak.

[v.1] Tested with an iP6+ 8.4.  (9-3-15)

FYI:  If you're using two different wallpapers for your LS &amp; HS and not already using something like HiddenSettings to change/remove the black unlock animation... Then I recommend using this patch along with the patch titled "No 'Fade To Black' Animation".

⚠️WARNING:  One entry conflicts with Tage's "System Close Animation" option so therefore disable that option in Tage OR... delete/change the unit specified below to "pass-through".

★ If you'd like to donate via PayPal, please send money to...

☞  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Unlock Animations (disables icon zooming)  ₉₋₃₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBCenterAppIconZoomAnimator</string>
				<key>displayName</key>
				<string>-(unsigned long long) _numberOfSignificantAnimations</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_numberOfSignificantAnimations</string>
				<key>typeEncoding</key>
				<string>Q16@0:8</string>
			</dict>
			<key>name</key>
			<string>When unlocking via... "Touch ID"</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>14</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>14</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBCenterIconZoomAnimator</string>
				<key>displayName</key>
				<string>-(unsigned long long) _numberOfSignificantAnimations</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_numberOfSignificantAnimations</string>
				<key>typeEncoding</key>
				<string>Q16@0:8</string>
			</dict>
			<key>name</key>
			<string>When unlocking via... "Slide To Unlock" or "Entering Passcode":  ⚠️ Delete/change this unit to "pass-through" if you're using Tage's "System Close Animation" option</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>14</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>14</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
