<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>24386</integer>
	<key>description</key>
	<string>Removes or merges the Cancel Button.  By default, it's merged but you can hide it altogether by changing the unit specified below. 

[v.2] Tested on iP6+ 8.4.  (9-13-15)

⚑ UPDATES:
(9-8-15) *Initial release
(9-13-15) *Added option to remove button (use with "Alerts • Tap To Dismiss" patch)

★ If you enjoy my patches, please consider sending a donation...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Alerts • Merge/No Cancel Button  ₉₋₁₃₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(void) setCancelActionIsDiscrete:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setCancelActionIsDiscrete:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Merge Button:  Yes=FALSE, No=TRUE</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(bool) showsCancelAction</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showsCancelAction</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show:  TRUE or FALSE</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
