<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobileslideshow</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>24769</integer>
	<key>description</key>
	<string>Hides/replaces album list thumbnails with either a generic or crossed out "/" image (disabled by default).  Useful if you don't want/like seeing these previews.

[v.1] Tested with iP6+ 8.4.  (9-30-15)

★ If you enjoy my patches, please consider sending a donation...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Hide Album Thumbnails  ₉₋₃₀₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUAlbumListViewController</string>
				<key>displayName</key>
				<string>-(void) _getDisplayableAssets:(id*) indexes:(id*) forCollection:(id) maximumCount:(long long) useCache:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_getDisplayableAssets:indexes:forCollection:maximumCount:useCache:</string>
				<key>typeEncoding</key>
				<string>v52@0:8^@16^@24@32q40B48</string>
			</dict>
			<key>name</key>
			<string>Generic</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUAlbumListViewController</string>
				<key>displayName</key>
				<string>-(bool) _collectionIsHiddenAlbum:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_collectionIsHiddenAlbum:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Use Crossed Out "/" Image:  (Yes=True)</string>
			<key>overrides</key>
			<array>
				<array/>
			</array>
		</dict>
	</array>
</dict>
</plist>
