<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.google.ios.youtube</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>24855</integer>
	<key>description</key>
	<string>Makes the new Navigation Bar shorter in height by removing the lower navigating tabs.  Use swipe gestures to navigate in between pages.  Made after reading a few requests via r/jailbreak. 

[v.1] Only tested with the new UI &amp; version 10.38 but may work with other versions.  (10-7-15)

★ If you enjoy my patches &amp; would like to donate, please send money to...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Nav Bar - Shorter (ver. 10.38)  ₁₀₋₇₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTTabTitlesView</string>
				<key>displayName</key>
				<string>-(double) preferredHeight</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>preferredHeight</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
