<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.google.ios.youtube</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>24856</integer>
	<key>description</key>
	<string>Changes colors of the new Nav Bar as listed below...  Made after reading a few requests via r/jailbreak. 

• Status Bar Background
• Status Bar Foreground
• Nav Bar Background
• Nav Bar Buttons (right side)
• Nav Bar Text (left side) [iPads]
• Nav Bar Tab Background
• Change Nav Bar Tab Style
• Lower Tab Bar Selected

[v.4] Tested with the new UI of version (10.38 -11.35) but may work with other versions.  (9-21-16)

⚑ UPDATES:
(10-7-15) *Initial release
(10-12-15) *Added iPad support
(9-18-16) *Added Nav Bar #2 entry
(9-21-16) *Added Lower Tab Bar Selected Color entry

★ If you'd like to donate via PayPal, please send money to...

☞  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Nav Bar - Colors (Customizable)  ₉₋₂₁₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIStatusBarNewUIStyleAttributes</string>
				<key>displayName</key>
				<string>-(id) initWithRequest:(id) backgroundColor:(id) foregroundColor:(id) hasBusyBackground:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithRequest:backgroundColor:foregroundColor:hasBusyBackground:</string>
				<key>typeEncoding</key>
				<string>@44@0:8@16@24@32B40</string>
			</dict>
			<key>name</key>
			<string>Status Bar Background: (Arg#2), Status Bar Foreground: (Arg#3)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>3</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,35,35,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTAppView</string>
				<key>displayName</key>
				<string>-(void) setStatusBarBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setStatusBarBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Status Bar Background #2: (in switcher)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,35,35,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UINavigationBarBackground</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Nav Bar</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,35,35,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTNavigationBar</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Nav Bar #2 (&amp; SB BG in Switcher)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,35,35,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTTitleBar_iPad</string>
				<key>displayName</key>
				<string>-(void) setThemeColor:(id) foregroundColor:(id) animated:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setThemeColor:foregroundColor:animated:</string>
				<key>typeEncoding</key>
				<string>v36@0:8@16@24B32</string>
			</dict>
			<key>name</key>
			<string>[iPads] Nav Bar: (Arg#1)	Left Text: (Arg#2)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,35,35,255</string>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTRightNavigationButtons</string>
				<key>displayName</key>
				<string>-(void) setTintColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTintColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Right Buttons</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTTabTitlesView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Lower Tab Buttons</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,35,35,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTTabTitlesView</string>
				<key>displayName</key>
				<string>-(void) setTabStyle:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTabStyle:</string>
				<key>typeEncoding</key>
				<string>v24@0:8q16</string>
			</dict>
			<key>name</key>
			<string>Lower Tab Style: (0=White Blur, 1=Stock, 2=Transparent)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTTabTitlesView</string>
				<key>displayName</key>
				<string>-(void) setTabTitleColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTabTitleColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Lower Tab Bar Selected</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIStatusBarNewUIStyleAttributes</string>
				<key>displayName</key>
				<string>-(bool) isTranslucent</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isTranslucent</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
