<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>24862</integer>
	<key>description</key>
	<string>Display more photos in the scrolling picker view.  I've set the current # to a "1000" but you can set it to whatever you want. 

[v.1] Tested with an iP6+ 8.4.  (10-7-15)

★ If you enjoy my patches &amp; would like to donate, please send money to...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Show More Photos In Picker  ₁₀₋₇₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKPhotoPickerCollectionViewController</string>
				<key>displayName</key>
				<string>-(long long) maxAssetsToDisplay</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>maxAssetsToDisplay</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Set # of photos to display...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1000</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
