<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25007</integer>
	<key>description</key>
	<string>Speeds up navigating inside of apps by allowing user interaction before animations have finished.  Perfect for those who hate this native iOS restriction.

[v.1] Tested with an iP6+ 9.0.2.  (10-15-15)

(10-27-15) *Changed title.  Added "Animations" prefix

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Animations - Allow Touch While Animating  ₁₀₋₁₅₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIViewAnimationState</string>
				<key>displayName</key>
				<string>-(BOOL) _allowsUserInteraction</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_allowsUserInteraction</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
