<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25039</integer>
	<key>description</key>
	<string>Removes icons &amp; labels from the deck switcher.

[v.2] Tested with an iP5 9.0.2.  (10-27-15)

⚑ UPDATES:
(10-15-15) *Initial release
(10-27-15) *Changed method

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Switcher - No Icons/Labels  ₁₀₋₂₇₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDeckSwitcherViewController</string>
				<key>displayName</key>
				<string>-(BOOL) shouldShowIconAndLabelOfContainer:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>shouldShowIconAndLabelOfContainer:</string>
				<key>typeEncoding</key>
				<string>c12@0:4@8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
