<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.johncoates.Flex</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25214</integer>
	<key>description</key>
	<string>Disables the "Warning" Restart Now/Later alert displayed after selecting a SpringBoard or System Wide patch.

Useful for those who test multiple patches at a time or already use another method to respring, i.e. Activator etc.

NOTE: A respring is still required for patch changes to take effect.

[v.1] Tested with an iP5 9.0.2.  (10-18-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Disable "Warning" Restart Now/Later Alert  ₁₀₋₁₈₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>FLPatchesViewController</string>
				<key>displayName</key>
				<string>-(void) showSpringBoardAlertForPatch:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showSpringBoardAlertForPatch:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
