<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25210</integer>
	<key>description</key>
	<string>Disables the following when connecting or disconnecting from a power source...

* Screen (from waking/showing)
* Sound
* Vibration

WARNING:  Also disables low battery alerts, i.e. 10%, 20%, low power mode etc. &amp; maybe battery usage statistics, idk.

[v.1] Only tested with an iP5 9.0.2.  (10-18-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Stealth Power  ₁₀₋₁₈₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUIController</string>
				<key>displayName</key>
				<string>-(void) updateBatteryState:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>updateBatteryState:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
