<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25379</integer>
	<key>description</key>
	<string>Changes colors of the following items in control center...

* Sliders
* Glyphs
* Toggle State Text
* Track Detail Text

(Delete the "Opaque" unit for a softer color)

⚑ UPDATES:
(10-19-15) *Initial release
(4-14-16) *Added opaque option &amp; changed title to "CC - Slider Color"
(4-15-16) *Added option to highlight track detail text &amp; changed title

[v.3] Tested with an iP6+ 9.0.2.  (4-15-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>CC - Highlight Color  ₄₋₁₅₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBControlCenterSettings</string>
				<key>displayName</key>
				<string>-(void) setHighlightColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setHighlightColor:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Color</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,127,0,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUMediaControlsTitlesView</string>
				<key>displayName</key>
				<string>-(bool) isHighlighted</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isHighlighted</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Track Detail Text</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUIControlCenterSlider</string>
				<key>displayName</key>
				<string>-(void) _updateEffects</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_updateEffects</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Opaque</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
