<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25450</integer>
	<key>description</key>
	<string>Changes the width of some alerts (i.e. action &amp; activity/share sheets).

NOTE: This "might" also be useful to adjust share sheet scaling to pre iOS 9 sizing.  Only tested on the iP5 but to try this on other devices... find your stock width and set the # just above that threshold, i.e. if it's "320" then try "321" or "322".

NOTE 2: This patch has been confirmed not working on the iP6 so it may not work for anything other than the iP5.

[v.1] Tested with an iP5 9.0.2.  (10-21-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Alerts - Width (Share Sheet Scale FIX)  ₁₀₋₂₁₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(float) _verticalLayoutWidth</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_verticalLayoutWidth</string>
				<key>typeEncoding</key>
				<string>f8@0:4</string>
			</dict>
			<key>name</key>
			<string>Set Width... (iP5=322, etc)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<integer>322</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
