<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobileslideshow</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25744</integer>
	<key>description</key>
	<string>Disables photo deleting &amp; editing.  By default, I've removed all buttons located on the top left &amp; right sides of the navigation bar &amp; disabled tool bar buttons however you can re-enable them &amp; just disable photo deletion by deleting the entries specified below.

[v.2] Made as a request via r/jailbreak.  Tested with an iPad mini2 9.0.2  (10-26-15)

⚑ UPDATES:
(10-26-15) *Disabled Tool Bar Buttons

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Child Proof  ₁₀₋₂₆₋₁₅ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UINavigationItem</string>
				<key>displayName</key>
				<string>-(void) _setLeftBarButtonItem:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setLeftBarButtonItem:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Show Nav Bar "+" Left Button:  &gt;&gt;&gt;DELETE THIS ENTRY&lt;&lt;&lt;</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UINavigationItem</string>
				<key>displayName</key>
				<string>-(void) _setRightBarButtonItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setRightBarButtonItems:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Show Nav Bar "Option" Right Buttons:  &gt;&gt;&gt;DELETE THIS ENTRY&lt;&lt;&lt;</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIToolbarButton</string>
				<key>displayName</key>
				<string>-(void) setEnabled:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setEnabled:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Allow Tool Bar Buttons:  &gt;&gt;&gt;DELETE THIS ENTRY&lt;&lt;&lt;</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUAlbumListViewController</string>
				<key>displayName</key>
				<string>-(bool) canDeleteCollection:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canDeleteCollection:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUCloudSharedAlbumViewController</string>
				<key>displayName</key>
				<string>-(bool) canDeleteContent</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canDeleteContent</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUPhotosGridViewController</string>
				<key>displayName</key>
				<string>-(bool) canDeleteContent</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canDeleteContent</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUDeletePhotosActionController</string>
				<key>displayName</key>
				<string>-(bool) shouldSkipDeleteConfirmation</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>shouldSkipDeleteConfirmation</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUDeletePhotosActionController</string>
				<key>displayName</key>
				<string>-(void) _handleFinalUserDecisionShouldDelete:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_handleFinalUserDecisionShouldDelete:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
