<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25825</integer>
	<key>description</key>
	<string>Disables native split view.  Provides a full screen view in landscape.

[v.2] Tested with an iP6+ 9.0.2.  (1-31-16)

⚑ UPDATES:
(10-27-15) *Initial release
(1-31-16) *Fixed rotation issues

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Split View (Full Landscape)  ₁₋₃₁₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITraitCollection</string>
				<key>displayName</key>
				<string>-(long long) horizontalSizeClass</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>horizontalSizeClass</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
