<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>25908</integer>
	<key>description</key>
	<string>Disables automatic sending of photos when the "Send 'qty' Photo(s)" button is pressed.  Instead, the button will behave exactly the same as the "Add Comment" button.

Useful if you find yourself accidentally sending pics with or without comments.

[v.1] Tested with an iP6+ 9.0.2.  (10-29-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Disable Auto Photo Sending  ₁₀₋₂₉₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKTranscriptController</string>
				<key>displayName</key>
				<string>-(void) photoPickerController:(id) requestsSendAssets:(id) sendImmediately:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>photoPickerController:requestsSendAssets:sendImmediately:</string>
				<key>typeEncoding</key>
				<string>v36@0:8@16@24B32</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>3</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
