<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>26507</integer>
	<key>description</key>
	<string>Customizes volume step increments when using the vol rockers. Values are relative to the current volume level. You can change the values to your liking or delete unused units.

By default, I set the vol "step down" value to 50% (i.e. if current vol is @100% then 2 presses will reduce the vol to 0%) and the "step up" value set to 25% (i.e. if current vol is @0% then 4 presses will increase vol to 100%).

[v.1] Tested with an iP6+ 9.0.2.  (11-22-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Custom Volume Step  ₁₁₋₂₂₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>VolumeControl</string>
				<key>displayName</key>
				<string>-(float) volumeStepUp</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>volumeStepUp</string>
				<key>typeEncoding</key>
				<string>f16@0:8</string>
			</dict>
			<key>name</key>
			<string>Vol "Up" Step Increment:  (0.0-1.0), i.e. 0=none, .032=32, .25=4, .5=2, 1=1</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<real>0.25</real>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>VolumeControl</string>
				<key>displayName</key>
				<string>-(float) volumeStepDown</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>volumeStepDown</string>
				<key>typeEncoding</key>
				<string>f16@0:8</string>
			</dict>
			<key>name</key>
			<string>Vol "Down" Step Increment:  (0.0-1.0), i.e. 0=none, .032=32, .25=4, .5=2, 1=1</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<real>0.5</real>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
