<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>26744</integer>
	<key>description</key>
	<string>Forces the keyboard to use a specific type.  Some examples are listed below.

0 = Standard (i.e. no extra period key)
1 = No emoji key
2 = Open w/@123 KB, no emoji key
3 = No space bar/dictation key (replaced by ".", "/" and ".com" keys)
4 = # pad
5 = # pad + "+*#" key
7 = No dictation key (adds "@" and "." keys)
8 = # pad + "." key
9 = No return key (replaced by "@" and "#" keys)
10 = Adds "." key and changes "Return" to "Go"

NOTE:  This may be more useful on a per app basis (i.e. you always want a specific KB for a specific app).  If this is the case, I suggest replicating this patch for said app.

[v.1]  Tested with 9.0.2.  (12-4-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>KB - Force Keyboard Type  ₁₂₋₄₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITextInputTraits</string>
				<key>displayName</key>
				<string>-(long long) keyboardType</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>keyboardType</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>See suggestions above...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
