<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>26775</integer>
	<key>description</key>
	<string>Changes the color of accessibility buttons on the navigation bar.

NOTE:  This patch requires "Button Shapes" @Settings&gt;General&gt;Accessibility to be enabled.

[v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (12-6-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Nav Bar - Custom Accessibility Button Color  ₁₂₋₆₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UINavigationItemButtonView</string>
				<key>displayName</key>
				<string>-(void) _setAccessibilityBackgroundTintColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setAccessibilityBackgroundTintColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Color... (Back)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:209,227,247,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UINavigationButton</string>
				<key>displayName</key>
				<string>-(void) _setAccessibilityBackgroundTintColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setAccessibilityBackgroundTintColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Color... (Standard)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:209,227,247,255</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
