<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>26876</integer>
	<key>description</key>
	<string>Changes the status bar alpha.  Set the level to your liking.

NOTE:  Also applies to double height "in use" status bars.  Overrides the HS status bar to stock white/black color if using any other color changing status bar patches i.e. "Color Customizer" etc.

[v.1] Tested with an iP6+ 9.0.2.  (12-11-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Status Bar - Alpha  ₁₂₋₁₁₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIStatusBar</string>
				<key>displayName</key>
				<string>-(void) _crossfadeToNewForegroundViewWithAlpha:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_crossfadeToNewForegroundViewWithAlpha:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Set Alpha...  Range (0.0-1.0)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<real>0.5</real>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
