<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobilephone</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>26880</integer>
	<key>description</key>
	<string>Removes the asterisk and pound sign from the default dialer keypad.

[v.1] Tested with an iP6+ 9.0.2.  (12-12-15)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Dialer - Numbers Only  ₁₂₋₁₂₋₁₅</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PHHandsetDialerView</string>
				<key>displayName</key>
				<string>-(bool) dialerIsNumericOnly</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>dialerIsNumericOnly</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
