<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>27390</integer>
	<key>description</key>
	<string>Disables message deletion.

[v.1] Tested with an iP6+ 9.0.2.  Made after reading a recent request via r/jailbreak.  (1-20-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Disable Message Deletion  ₁₋₂₀₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableView</string>
				<key>displayName</key>
				<string>-(id) _indexPathForSwipeRowAtPoint:(CGPoint)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_indexPathForSwipeRowAtPoint:</string>
				<key>typeEncoding</key>
				<string>@32@0:8{CGPoint=dd}16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKConversationListController</string>
				<key>displayName</key>
				<string>-(void) deleteButtonTappedForIndexPath:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>deleteButtonTappedForIndexPath:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKConversationListController</string>
				<key>displayName</key>
				<string>-(void) batchDeleteButtonTapped:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>batchDeleteButtonTapped:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKConversation</string>
				<key>displayName</key>
				<string>-(void) deleteAllMessages</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>deleteAllMessages</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKTranscriptController</string>
				<key>displayName</key>
				<string>-(void) _deleteSelectedMessages:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_deleteSelectedMessages:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
