<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>27576</integer>
	<key>description</key>
	<string>Removes headers (&amp; the empty space) from Notification Center.

[v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (2-1-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>NC - No Headers (no empty space)  ₂₋₁₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNCTableViewController</string>
				<key>displayName</key>
				<string>-(double) tableView:(id) heightForHeaderInSection:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>tableView:heightForHeaderInSection:</string>
				<key>typeEncoding</key>
				<string>d32@0:8@16q24</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
