<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.camera</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>27617</integer>
	<key>description</key>
	<string>Opens the camera app with Photo/Square Mode Filter Effects enabled by default.	Use the following values...

Photo Mode (Arg#8), Square Mode (Arg#9):	

1:Mono
2:Tonal
3:Noir
4:Fade
5:Chrome
6:Process
7:Transfer
8:Instant

⚑ UPDATES:
(2-5-16) *Initial release
(10-14-16) *Added Always Reset Capture Configurations On Open

[v.2] Tested with an iP6+ 9.3.3.  (10-14-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Open with Filter Effects  ₁₀₋₁₄₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMUserPreferences</string>
				<key>displayName</key>
				<string>-(bool) shouldResetCaptureConfiguration</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>shouldResetCaptureConfiguration</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Always Reset Capture Configurations On Open</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMCaptureConfiguration</string>
				<key>displayName</key>
				<string>-(id) initWithCaptureMode:(long long) captureDevice:(long long) flashMode:(long long) torchMode:(long long) HDRMode:(long long) irisMode:(long long) timerDuration:(long long) photoModeEffectFilterType:(long long) squareModeEffectFilterType:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithCaptureMode:captureDevice:flashMode:torchMode:HDRMode:irisMode:timerDuration:photoModeEffectFilterType:squareModeEffectFilterType:</string>
				<key>typeEncoding</key>
				<string>@88@0:8q16q24q32q40q48q56q64q72q80</string>
			</dict>
			<key>name</key>
			<string>Photo Mode (Arg#8), Square Mode (Arg#9):	1:Mono, 2:Tonal, 3:Noir, 4:Fade, 5:Chrome, 6:Process, 7:Transfer, 8:Instant</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>8</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>6</integer>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>9</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>6</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
