<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>27765</integer>
	<key>description</key>
	<string>Disables/sets auto-lock duration to "Never".  The screen will dim at 30 seconds but not auto-lock.

* Useful for those who always have "Low Power Mode" enabled but don't like the 30 sec auto lock restriction.

⚠️WARNING:  Overrides auto-lock duration at all times!!! (i.e. NOT just while in low power mode &amp; therefore the time duration at Settings&gt;General&gt;Auto-Lock is irrelevant.)

⚑ UPDATES:
(2-16-16) *Initial release
(8-3-16) *Changed title from "Low Power Mode - Disables Auto-Lock"

[v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (8-3-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Low Power Mode - Never Auto-Lock (only dim)  ₈₋₃₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBBacklightController</string>
				<key>displayName</key>
				<string>-(void) _autoLockTimerFired:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_autoLockTimerFired:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
