<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.google.PlayMusic</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>27777</integer>
	<key>description</key>
	<string>Provides the following hide/show options for YouTube...

- Disable
- Hide Album Artwork Icon
- Stop Button Animation

By default, I disabled YouTube entirely but you can delete or edit the units to your liking with "TRUE" or FALSE" values.
 
[v.1] Tested with version 3.7.7732.  (2-17-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No YouTube (v. 3.7.7732)  ₂₋₁₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GPMServiceConfiguration</string>
				<key>displayName</key>
				<string>-(bool) canShowYouTube</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canShowYouTube</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show YouTube</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PlayerViewHeaderView</string>
				<key>displayName</key>
				<string>-(void) maybeShowYouTubeIcon</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>maybeShowYouTubeIcon</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Hide YouTube Icon From Album Artwork</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PlayerViewContentView</string>
				<key>displayName</key>
				<string>-(void) animateYouTubeViewsOn:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>animateYouTubeViewsOn:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Stop YouTube Button Animation</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
