<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.camera</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>27836</integer>
	<key>description</key>
	<string>Makes the camera appear as if it's always in "Photo" mode by changing the shutter button &amp; dial selected indicator to "Photo" mode style.  Also changes Video mode's top/bottom bar rotation/BG style to Photo mode style, hides the elapsed time, still photo &amp; framerate buttons and adds top/bottom bar photo buttons when recording.

NOTE:  By default, the camera opens in "Photo" mode so swipe over once for "Video" mode.

⚑ UPDATES:
(2-22-16 *Initial release
(2-24-16) *Added top bar/bottom bar buttons when recording &amp; stops top bar rotation

[v.2] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (2-24-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Incognito Video Mode  ₂₋₂₄₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CUShutterButton</string>
				<key>displayName</key>
				<string>-(void) setMode:(long long) animated:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setMode:animated:</string>
				<key>typeEncoding</key>
				<string>v28@0:8q16B24</string>
			</dict>
			<key>name</key>
			<string>Shutter Button Mode</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMModeDial</string>
				<key>displayName</key>
				<string>-(void) setSelectedMode:(long long) animated:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSelectedMode:animated:</string>
				<key>typeEncoding</key>
				<string>v28@0:8q16B24</string>
			</dict>
			<key>name</key>
			<string>Dial Selected Mode</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMTopBar</string>
				<key>displayName</key>
				<string>-(long long) backgroundStyle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>backgroundStyle</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Top Bar BG Style</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>2</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMBottomBar</string>
				<key>displayName</key>
				<string>-(long long) backgroundStyle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>backgroundStyle</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Bottom Bar BG Style</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>2</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideElapsedTimeViewForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideElapsedTimeViewForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Hide Elapsed Time</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideStillDuringVideoButtonForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideStillDuringVideoButtonForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Hide Still Capture During Video Button</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideFramerateIndicatorForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideFramerateIndicatorForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Hide Framerate Indicator</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldRotateTopBarForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldRotateTopBarForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Stop Top Bar Rotation</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideFlashButtonForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideFlashButtonForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show Flash Button</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideFlashBadgeForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideFlashBadgeForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show Flash Badge (Disabled)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideHDRButtonForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideHDRButtonForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show HDR Button</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideHDRBadgeForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideHDRBadgeForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show HDR Badge (Disabled)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideIrisButtonForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideIrisButtonForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show Live Photo Button</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideTimerButtonForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideTimerButtonForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show Timer Button</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideFlipButtonForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideFlipButtonForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show Flip Button</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideImageWellForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideImageWellForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show Image Well</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideFilterButtonForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideFilterButtonForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string>Show Filter Button</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
