<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>27949</integer>
	<key>description</key>
	<string>Changes "Today's Summary" text in NC.  Set the text to your liking.  By default, I also removed the Weather Icon but you can show it again by deleting the entry specified below.

[v.1] Tested with an iP6+ 9.0.2 but didn't always change.  Made as a request.  (3-1-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>NC - Custom "Today's Summary" Text  ₃₋₁₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBTodayTableViewCell</string>
				<key>displayName</key>
				<string>-(void) setLabelText:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setLabelText:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Custom Text...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>Very cloudy today.  It's currently 98.6°; the high will be 420°.</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBTodayTableViewCell</string>
				<key>displayName</key>
				<string>-(void) setIcon:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setIcon:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Weather Icon:  (Show=DELETE THIS ENTRY)</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
