<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>28385</integer>
	<key>description</key>
	<string>Makes the "Today" &amp; "Notifications" tabs in NC transparent and changes the text color.  Effects also apply to the "Edit" button.

[v.1] Tested with an iP6+ 9.0.2.  Made as a request.  (4-7-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>NC - Transparent Tabs  ₄₋₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBControlColorSettings</string>
				<key>displayName</key>
				<string>-(id) initWithTintColor:(id) selectedTintColor:(id) textColor:(id) selectedTextColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithTintColor:selectedTintColor:textColor:selectedTextColor:</string>
				<key>typeEncoding</key>
				<string>@48@0:8@16@24@32@40</string>
			</dict>
			<key>name</key>
			<string>(Argument#3): Unselected Text Color (Argument#4): Selected Text Color</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>3</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:146,146,146,255</string>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>4</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBRootSettings</string>
				<key>displayName</key>
				<string>-(id) notificationCenterSettings</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>notificationCenterSettings</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
