<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>28387</integer>
	<key>description</key>
	<string>Changes colors of the following items in Notification Center...

- Background (gray)
- Sections Background
- Tabs &amp; Text
- Top &amp; Bottom Separators
- Cell Separators
- Headers
- Grabber

[v.1] Tested with an iP6+ 9.0.2.  Made as a request.  (4-7-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>NC - Color Customizer  ₄₋₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterViewController</string>
				<key>displayName</key>
				<string>-(bool) blursBackground</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>blursBackground</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Background: Blur=TRUE, Gray=FALSE</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUISizeObservingView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Sections Background</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:18,112,112,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBControlColorSettings</string>
				<key>displayName</key>
				<string>-(id) initWithTintColor:(id) selectedTintColor:(id) textColor:(id) selectedTextColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithTintColor:selectedTintColor:textColor:selectedTextColor:</string>
				<key>typeEncoding</key>
				<string>@48@0:8@16@24@32@40</string>
			</dict>
			<key>name</key>
			<string>(Arg#1): Tab (Arg#2): Selected Tab (Arg#3): Text (Arg#4): Selected Text</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:22,140,140,255</string>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,218,218,255</string>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>3</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:35,218,218,255</string>
					</dict>
				</dict>
				<dict>
					<key>argument</key>
					<integer>4</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationSeparatorView</string>
				<key>displayName</key>
				<string>-(id) initWithFrame:(CGRect) mode:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithFrame:mode:</string>
				<key>typeEncoding</key>
				<string>@56@0:8{CGRect={CGPoint=dd}{CGSize=dd}}16q48</string>
			</dict>
			<key>name</key>
			<string>Hide Top &amp; Bottom Separators</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationSeparatorView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Top &amp; Bottom Separators</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:22,140,140,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UITableViewHeaderFooterContentView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Headers</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:18,112,112,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UITableViewCellSeparatorView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Cell Separators</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:22,140,140,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBChevronView</string>
				<key>displayName</key>
				<string>-(void) setColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setColor:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string>Grabber</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:22,140,140,255</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
