<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.mobilityware.SolitaireFree</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>28400</integer>
	<key>description</key>
	<string>Removes all ads. 

⚑ UPDATES:
(4-8-16) *Initial release
(8-31-16) *Updated to allow daily challenges

[v.2] Tested with with versions (4.7.1 - 4.8.0).  Made as a request via r/jailbreak.  (8-31-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Ads (v. 4.7.1 - 4.8.0)  ₈₋₃₁₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>AdControl2</string>
				<key>displayName</key>
				<string>-(unsigned char) displayAd:(unsigned char)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>displayAd:</string>
				<key>typeEncoding</key>
				<string>C12@0:4C8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>10</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>10</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPAdView</string>
				<key>displayName</key>
				<string>-(id) adManager</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>adManager</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
