<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>28486</integer>
	<key>description</key>
	<string>Hides the following text labels on the lock screen &amp; in control center...

- All Track Info
- Artist
- Title
- Album

[v.1] Tested with an iP6+ 9.0.2.  (4-17-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS/CC (Media Controls) - Hide Track Info  ₄₋₁₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUSystemMediaControlsView</string>
				<key>displayName</key>
				<string>-(id) trackInformationView</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>trackInformationView</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string>All Track Info:  (Hide=NULL, Show=pass-through)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUNowPlayingTitlesView</string>
				<key>displayName</key>
				<string>-(void) setArtistText:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setArtistText:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Artist:  (Show=Delete This Unit)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUNowPlayingTitlesView</string>
				<key>displayName</key>
				<string>-(void) setTitleText:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTitleText:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Title:  (Show=Delete This Unit)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUNowPlayingTitlesView</string>
				<key>displayName</key>
				<string>-(void) setAlbumText:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAlbumText:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Album:  (Show=Delete This Unit)</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
