<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>28482</integer>
	<key>description</key>
	<string>Disables the tap "to open" now playing song function in control center.

[v.1] Tested with an iP6+ 9.0.2.  (4-17-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>CC - Disable Tap "to open" Now Playing Song  ₄₋₁₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUSystemMediaControlsViewController</string>
				<key>displayName</key>
				<string>-(void) mediaControlsTitlesViewWasTapped:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>mediaControlsTitlesViewWasTapped:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
