<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>28492</integer>
	<key>description</key>
	<string>Removes time labels (&amp; provides an option to extend the the progress bar length). Applies to both the lock screen &amp; control center.

[v.1] Tested with an iP6+ 9.0.2.  (4-17-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS/CC (Media Controls) - No Time Labels  ₄₋₁₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUChronologicalProgressView</string>
				<key>displayName</key>
				<string>-(double) _estimatedTimeLabelsWidth</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_estimatedTimeLabelsWidth</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string>Time Labels Width (0=Full Progress Slider Bar)</string>
			<key>overrides</key>
			<array>
				<array/>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MPUChronologicalProgressView</string>
				<key>displayName</key>
				<string>-(void) _updateTimeLabels</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_updateTimeLabels</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
