<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.camera</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>28554</integer>
	<key>description</key>
	<string>Allows grid lines for all camera modes.

NOTE:  Requires "Grid" to be switched on @Settings&gt;Photos &amp; Camera

[v.1] Tested with an iP6+ 9.0.2.  Made as a request via r/jailbreak.  (4-25-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Allow Grid Lines  ₄₋₂₅₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideGridViewForMode:(long long) device:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideGridViewForMode:device:</string>
				<key>typeEncoding</key>
				<string>B32@0:8q16q24</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
