<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>30437</integer>
	<key>description</key>
	<string>
Enables the iPad Pro style keyboard (i.e. smaller scale with an extra row of number keys etc.) for non-iPad Pro iPads. Only works in landscape.

NOTE:  This can also be used on iPhones however it doesn't produce the same effect as it does on iPads.   Instead, it will enable the standard portrait sized keyboard when in landscape.  This can be useful if you prefer this smaller sized KB but please note the sides will still be scrollable.  It's not ideal but feel free to test it out.

[v.1] Tested with an iPad mini2 &amp; iP6+ 9.3.3.  Made as a request via r/jailbreak.  (8-20-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>KB - iPad Pro Style (for iPads) or Portrait Style (for iPhones) in Landscape  ₈₋₂₀₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKBScreenTraits</string>
				<key>displayName</key>
				<string>-(bool) isKeyboardMinorEdgeWidth</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>isKeyboardMinorEdgeWidth</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
