<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobilesafari</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>30525</integer>
	<key>description</key>
	<string>Customizes the progress bar with the following options (made for landscape devices)...

- Flat URL
- Full Height Pixelated Progress Bar
- Custom Progress Bar Color

NOTE:  This patch is best suited for landscape users (i.e. IPad or iPhone+ users who use their devices in landscape). Currently, it produces two small progress bars when in portrait mode.  This is due to portrait devices not having bookmark options etc in the nav bar. I may look for a fix in the future.

[v.1] Tested with an iPad mini2 &amp; iP6+ 9.3.3.  (8-22-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Pixelated Progress Bar (Customizable)  ₈₋₂₂₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_SFNavigationBarURLButton</string>
				<key>displayName</key>
				<string>-(void) setBackgroundAlphaFactor:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundAlphaFactor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Flat URL</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_SFFluidProgressView</string>
				<key>displayName</key>
				<string>-(void) setCornerRadius:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setCornerRadius:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Pixelated Progress Bar (in landscspe)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<real>0.0001</real>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_SFFluidProgressView</string>
				<key>displayName</key>
				<string>-(void) setProgressBarFillColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setProgressBarFillColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Progress Bar Color</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,122,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
