<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>30619</integer>
	<key>description</key>
	<string>I made this patch to mimic the features of the tweak "NCAllOnly".  This patch provides the following hide/show options in NC...

- "Today" &amp; "Notifications" Tabs
- Today view only
- Notifications view only
- Top &amp; bottom separator
- Cell separators
- Bottom separators

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (8-24-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>NC - NCAllOnly  ₈₋₂₄₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBModeViewController</string>
				<key>displayName</key>
				<string>-(double) _headerViewHeightForMode:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_headerViewHeightForMode:</string>
				<key>typeEncoding</key>
				<string>d24@0:8q16</string>
			</dict>
			<key>name</key>
			<string>Hides Tabs</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterLayoutViewController</string>
				<key>displayName</key>
				<string>-(bool) _areWidgetViewControllersAvailable</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_areWidgetViewControllersAvailable</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Today View</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterLayoutViewController</string>
				<key>displayName</key>
				<string>-(bool) _areNotificationsViewControllersAvailable</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_areNotificationsViewControllersAvailable</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Notifications View</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationSeparatorView</string>
				<key>displayName</key>
				<string>-(id) initWithFrame:(CGRect) mode:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithFrame:mode:</string>
				<key>typeEncoding</key>
				<string>@56@0:8{CGRect={CGPoint=dd}{CGSize=dd}}16q48</string>
			</dict>
			<key>name</key>
			<string>Show Top &amp; Bottom Separator</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationsBulletinCell</string>
				<key>displayName</key>
				<string>-(void) setSectionLocation:(int) animated:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSectionLocation:animated:</string>
				<key>typeEncoding</key>
				<string>v24@0:8i16B20</string>
			</dict>
			<key>name</key>
			<string>Show Cell Separators</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterViewController</string>
				<key>displayName</key>
				<string>-(void) _loadBottomSeparator</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_loadBottomSeparator</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Bottom Separator</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
