<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.VoiceMemos</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>30698</integer>
	<key>description</key>
	<string>Prevents audio playback from stopping after leaving the app. 

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via email.  (8-27-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Allow Background Playback  ₈₋₂₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RecorderAppDelegate</string>
				<key>displayName</key>
				<string>-(void) applicationDidEnterBackground:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>applicationDidEnterBackground:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
