<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>31570</integer>
	<key>description</key>
	<string>Disables the headset middle button long click - Siri action.

*Useful if you have broken buttons which trigger inadvertently.

[v.1] Tested with an iP6+ 9.0.2 &amp; 9.3.3.  Made as a request via r/jailbreak.  (10-9-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>ButtonDisabler - Headset Middle Button (Long Click - Siri)  ₁₀₋₉₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBVoiceControlController</string>
				<key>displayName</key>
				<string>-(void) handleHeadsetButtonDownWithClickCount:(unsigned long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>handleHeadsetButtonDownWithClickCount:</string>
				<key>typeEncoding</key>
				<string>v24@0:8Q16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
