<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>31693</integer>
	<key>description</key>
	<string>Makes the HS Spotlight page use the minus page style.  This also removes the minus page and (1) adds options to show the keyboard on opening &amp; (2) changes the default duration before the search bar is cleared.  Use the home button to dismiss Spotlight.

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via email.  (10-15-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Spotlight - Minus Page Style on HS  ₁₀₋₁₅₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SPUISearchViewController</string>
				<key>displayName</key>
				<string>-(bool) _showKeyboardOnPresentation</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_showKeyboardOnPresentation</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Keyboard On Presentation</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SPUISearchViewController</string>
				<key>displayName</key>
				<string>-(double) clearSearchTimeInterval</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>clearSearchTimeInterval</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string>Seconds Before Clearing Search On Dismiss</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SPUISearchViewController</string>
				<key>displayName</key>
				<string>-(bool) _isPullDownSpotlight</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_isPullDownSpotlight</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBSpotlightSettings</string>
				<key>displayName</key>
				<string>-(bool) enableSpotlightOnMinusPage</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>enableSpotlightOnMinusPage</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
