<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>31695</integer>
	<key>description</key>
	<string>Adjusts the distance between icons in the share/activity sheets.  This patch is most useful for smaller screen devices of which stock iOS shows less icons than it can but you can use it on any device &amp; change the value to your liking.  You can use negative values as well which can result in overlapping icons.  Experiment with values.

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-16-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Alerts - Share Sheet Scale Fix  ₁₀₋₁₆₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIActivityGroupViewFlowLayout</string>
				<key>displayName</key>
				<string>-(void) setEvaluatedHorizontalItemOffset:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setEvaluatedHorizontalItemOffset:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Set the spacing to your liking... (including negative values)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
