<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobileslideshow</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>31722</integer>
	<key>description</key>
	<string>Makes the Photo app ONLY show the "Photos" (Years/Collections/Moments) Tab/content.

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-17-16)

☞PayPal:  goin730@gmail.com
</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>ONLY "Photos" (Years/Collections/Moments) Tab Content  ₁₀₋₁₇₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PLPhotosDefaults</string>
				<key>displayName</key>
				<string>-(bool) summarizeMomentSections</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>summarizeMomentSections</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Summarize Collections Section  (i.e. hide/show all photos)</string>
			<key>overrides</key>
			<array>
				<array/>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUTabbedLibraryViewControllerPhoneSpec</string>
				<key>displayName</key>
				<string>-(id) createSharedAlbumListViewController</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>createSharedAlbumListViewController</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUTabbedLibraryViewControllerPadSpec</string>
				<key>displayName</key>
				<string>-(id) createSharedAlbumListViewController</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>createSharedAlbumListViewController</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUTabbedLibraryViewControllerPhoneSpec</string>
				<key>displayName</key>
				<string>-(id) createAlbumListViewController</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>createAlbumListViewController</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUTabbedLibraryViewControllerPadSpec</string>
				<key>displayName</key>
				<string>-(id) createAlbumListViewController</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>createAlbumListViewController</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUPhotosGridViewController</string>
				<key>displayName</key>
				<string>-(bool) alwaysHideTabBar</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>alwaysHideTabBar</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
