<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.Music</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>31740</integer>
	<key>description</key>
	<string>Removes the tab bar and makes the mini player transparent.  The mini player can be disabled too.  Change entries to your liking.

⚑ UPDATES:
(10-18-16) *Initial release
(10-19-16) *Changed methods

[v.2] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-19-16)

☞PayPal:  goin730@gmail.com
</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Tab Bar (with Transparent Mini Player)  ₁₀₋₁₉₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SKUIScrollingTabBarBackgroundView</string>
				<key>displayName</key>
				<string>-(void) setShowsTopHairline:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setShowsTopHairline:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Show Top Line (Mini Player)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SKUIScrollingTabBarBackgroundView</string>
				<key>displayName</key>
				<string>-(void) setShowsBackdrop:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setShowsBackdrop:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Show Backdrop (Tab Bar &amp; Mini Player)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SKUIScrollingTabBarBackgroundView</string>
				<key>displayName</key>
				<string>-(void) setShowsBottomHairline:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setShowsBottomHairline:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Show Bottom Line (Mini Player)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MusicTabBarController</string>
				<key>displayName</key>
				<string>-(void) setMiniPlayerVisible:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setMiniPlayerVisible:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>Show Mini Player</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SKUICrossFadingTabBar</string>
				<key>displayName</key>
				<string>-(void) setTabBarButtons:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTabBarButtons:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Hides Tab Bar Buttons: {DELETE THIS UNIT TO SHOW}</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
