<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>31761</integer>
	<key>description</key>
	<string>Enables iOS's hidden one handed keyboard. Swipe in from sides to activate.

*Only works on 4.7" (iP6/S) &amp; 5.5" (iP6/S+) devices.

NOTE:  The activation gesture conflicts with Swipe Selection's "Whole keyboard (Default)" &amp; "Everything but the spacebar" swipe settings so either manually enable/disable Swipe Selection via "Triple Tap" to retain those swipe area gestures or use "Just the spacebar" which still works fine.

Credits:  Steve Troughton-Smith

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (10-20-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>KB - Enable One-Handed Keyboard  ₁₀₋₂₀₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKeyboardLayoutStar</string>
				<key>displayName</key>
				<string>-(bool) edgeSwipeGestureEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>edgeSwipeGestureEnabled</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
