<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.Preferences</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>31822</integer>
	<key>description</key>
	<string>Rounds table cells giving them a floating like appearance.  Also provides customizable options to change the size, background color &amp; combine sections (i.e. remove headers &amp; footers).

I also recommend some of the following Settings patches...

• No Table Cell Icons
• Hide AppStore Apps Section

NOTE:  I haven't tested this with other patches or customizing tweaks (i.e. Eclipse, NightMode etc) so your results may vary.  Also, iPhone 5 users must edit the "Round Cell Size (iP5/9.0.2)" entry to enable rounding.

Known Conflicts:

- PrefDelete (thanks /u/AhmadFaridAbbas)

⚑ UPDATES:
(10-27-16) *Initial release
(10-28-16) *Added iPhone 5 9.0.2 support

[v.2] Tested with an iP6+ 9.3.3 &amp; iP5 9.0.2.  Made as a request via r/jailbreak.  (10-28-16)

*Want something added to this patch?  Just ask.  I accept requests and donations...

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Round Floating Cells (Customizable)  ₁₀₋₂₈₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableView</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Color... (Table View Background)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:200,200,200,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIGroupTableViewCellBackgroundImageKey</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Color.... (Grouped Cells Background)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:200,200,200,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarBackground</string>
				<key>displayName</key>
				<string>-(id) _createBackgroundImageForBarStyle:(int) alpha:(float)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_createBackgroundImageForBarStyle:alpha:</string>
				<key>typeEncoding</key>
				<string>@16@0:4i8f12</string>
			</dict>
			<key>name</key>
			<string>Search Bar Background Alpha: {(Arg#2): Range: 0.0-1.0}</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>3</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableView</string>
				<key>displayName</key>
				<string>-(bool) _shouldShowHeadersAndFooters</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldShowHeadersAndFooters</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Top Header</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableView</string>
				<key>displayName</key>
				<string>-(double) _defaultSectionHeaderHeight</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_defaultSectionHeaderHeight</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Section Headers: {NO=0, YES=pass-through}</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableView</string>
				<key>displayName</key>
				<string>-(double) _defaultSectionFooterHeight</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_defaultSectionFooterHeight</string>
				<key>typeEncoding</key>
				<string>d16@0:8</string>
			</dict>
			<key>name</key>
			<string>Show Section Footers: {NO=0, YES=pass-through}</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIGroupTableViewCellBackgroundImageKey</string>
				<key>displayName</key>
				<string>-(void) setSectionBorderWidth:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSectionBorderWidth:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Round Cell Size: {Best Range: 0.0-10.0 (Higher # = Smaller Size)}</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<real>4.75</real>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIGroupTableViewCellBackgroundImageKey</string>
				<key>displayName</key>
				<string>-(float) sectionBorderWidth</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>sectionBorderWidth</string>
				<key>typeEncoding</key>
				<string>f8@0:4</string>
			</dict>
			<key>name</key>
			<string>Round Cell Size (iP5/9.0.2): {Best Range: 0.0-10.0 [Default=4.75] (Higher # = Smaller Size)}</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIGroupTableViewCellBackgroundImageKey</string>
				<key>displayName</key>
				<string>-(void) setSectionLocation:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSectionLocation:</string>
				<key>typeEncoding</key>
				<string>v20@0:8i16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableViewCell</string>
				<key>displayName</key>
				<string>-(bool) _insetsBackground</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_insetsBackground</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableView</string>
				<key>displayName</key>
				<string>-(void) setSeparatorStyle:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSeparatorStyle:</string>
				<key>typeEncoding</key>
				<string>v24@0:8q16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITableViewCell</string>
				<key>displayName</key>
				<string>-(void) _setOpaque:(bool) forSubview:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setOpaque:forSubview:</string>
				<key>typeEncoding</key>
				<string>v28@0:8B16@20</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIView</string>
				<key>displayName</key>
				<string>-(id) backgroundColor</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>backgroundColor</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
