<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobileslideshow</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>32297</integer>
	<key>description</key>
	<string>Spoofs the creation date of all photos.

INSTRUCTIONS:  Change the date to whatever you want using the date picker however the time is determined by your device's current time so change Argument #1 to "pass-through" &amp; back to "Custom Date" to set a new time.

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (11-25-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Spoof Photo Creation Date  ₁₁₋₂₅₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUPhotoBrowserTitleView</string>
				<key>displayName</key>
				<string>-(void) setCreationDate:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setCreationDate:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Creation Date...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>4</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLDate:1985-10-26T01:21:03-0400</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
