<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>32652</integer>
	<key>description</key>
	<string>Makes the text input field larger. 

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (12-12-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Larger Text Input Field  ₁₂₋₁₂₋₁₆</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKMessageEntryContentView</string>
				<key>displayName</key>
				<string>-(void) setTextAlignmentInsets:(UIEdgeInsets)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTextAlignmentInsets:</string>
				<key>typeEncoding</key>
				<string>v48@0:8{UIEdgeInsets=dddd}16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
