<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.Preferences</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>33576</integer>
	<key>description</key>
	<string>Provides the following options to customize the search bar...

- Background Color
- Style (Dark or Light)
- Alpha
- Color - (Text Field BG)
- Style (Dark or Light) - (Text Field BG)
- Softer Transparency - (Text Field BG)
- Placeholder Text Color - (Text Field)
- Center Placeholder - (Text Field)
- Input Text Color - (Text Field)

NOTE:  Enabling background color options will nullify some other options, i.e. dark/light styles. The input text color entry may change the color of text in other places besides the search bar.

You can delete unwanted units or use the suggested variables to change items.

P=pass-through  D=Delete  F=False

[v.1] Tested with an iP6+ 9.3.3.  Made as a request via r/jailbreak.  (1-20-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Search Bar Color Customizer  ₁₋₂₀₋₁₇</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarBackground</string>
				<key>displayName</key>
				<string>-(void) setBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>(Search Bar) - BG Color (⚠️: To Work, Requires BG Alpha = "0"): Set Color or "P" for stock...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:29,29,29,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarBackground</string>
				<key>displayName</key>
				<string>-(id) _createBackgroundImageForBarStyle:(long long) alpha:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_createBackgroundImageForBarStyle:alpha:</string>
				<key>typeEncoding</key>
				<string>@32@0:8q16d24</string>
			</dict>
			<key>name</key>
			<string>(Search Bar) - BG Style &amp; Alpha (⚠️: If Alpha Used, Overrides Style): (Style-Arg#1): Dark=1, Stock=P (Alpha-Arg#2): Range: 0.0-1.0</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UISearchBarSearchFieldBackgroundView</string>
				<key>displayName</key>
				<string>-(void) setFillColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setFillColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>(Text Field BG) - Color (⚠️: If Used, Overrides Styles Below): Set Color or "P" for stock/to use styles...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:18,18,18,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UISearchBarSearchFieldBackgroundView</string>
				<key>displayName</key>
				<string>-(void) setBarStyle:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBarStyle:</string>
				<key>typeEncoding</key>
				<string>v24@0:8q16</string>
			</dict>
			<key>name</key>
			<string>(Text Field BG) - Style: (Dark=1, Light=P)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UISearchBarSearchFieldBackgroundView</string>
				<key>displayName</key>
				<string>-(id) _fillColor:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_fillColor:</string>
				<key>typeEncoding</key>
				<string>@20@0:8B16</string>
			</dict>
			<key>name</key>
			<string>(Text Field BG) - Softer Transparency: (Arg#1: Yes=F, Stock=P)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarTextFieldLabel</string>
				<key>displayName</key>
				<string>-(void) setTextColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTextColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>(Text Field) - Placeholder Text Color: Set Color or "D" for stock...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:142,142,147,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarTextField</string>
				<key>displayName</key>
				<string>-(bool) _shouldCenterPlaceholder</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldCenterPlaceholder</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>(Text Field) - Center Placeholder</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITextInputTraits</string>
				<key>displayName</key>
				<string>-(void) _setColorsToMatchTintColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setColorsToMatchTintColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>(Text Field) - Cursor &amp; Selection Highlight Color: Set Color or "P" for stock...</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UICascadingTextStorage</string>
				<key>displayName</key>
				<string>-(void) setTextColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTextColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>(Text Field) - Input Text Color</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,255,255,255</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
