<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>33681</integer>
	<key>description</key>
	<string>Makes the keyboard black with gray outlined keys and removes the predictive text background. Should give a similar appearance to the tweak "LockKeyboard" but with an opaque black background.

Also, provides options to customize the following...

- Bold Key Text
- Light or Dark Shift Key Styling
- Suppress Return Key Styling

Use the following to change options...

P=pass-through  T=True

[v.1] Only tested with an iP6+ 9.3.3 but it very well may work on iOS 10 as well.  Made as a request via r/jailbreak.  (1-25-17)

*Please contact me via r/jailbreak or email if you've confirmed iOS 10 compatibility and I'll add you to the credits. ;)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>KB - LockKeyboard (Black)  ₁₋₂₅₋₁₇</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKBRenderFactory</string>
				<key>displayName</key>
				<string>-(bool) boldTextEnabled</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>boldTextEnabled</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Bold Text: (Yes=T, No=P)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITextInputTraits</string>
				<key>displayName</key>
				<string>-(bool) suppressReturnKeyStyling</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>suppressReturnKeyStyling</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Use Return Key Highlight Styling: (Yes=P, No=T)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKBRenderTraits</string>
				<key>displayName</key>
				<string>-(void) setBlendForm:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setBlendForm:</string>
				<key>typeEncoding</key>
				<string>v24@0:8q16</string>
			</dict>
			<key>name</key>
			<string>Shift &amp; Delete Key Highlight Style: (Dark=1, Light=0)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKBTree</string>
				<key>displayName</key>
				<string>-(void) setVisualStyle:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setVisualStyle:</string>
				<key>typeEncoding</key>
				<string>v20@0:8i16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>5</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKBTextStyle</string>
				<key>displayName</key>
				<string>-(void) setTextOpacity:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTextOpacity:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<real>0.69999999999999996</real>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKBRenderConfig</string>
				<key>displayName</key>
				<string>-(void) setKeycapOpacity:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setKeycapOpacity:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<real>0.5</real>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKBRenderConfig</string>
				<key>displayName</key>
				<string>-(void) setLightKeyboard:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setLightKeyboard:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIDevice</string>
				<key>displayName</key>
				<string>-(long long) _keyboardGraphicsQuality</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_keyboardGraphicsQuality</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
