<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobilesafari</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34038</integer>
	<key>description</key>
	<string>Makes selecting text easier by disabling text selection assistance within web pages.

NOTE:  This works with iOS 10.2 ONLY!  It doesn't work on 10.x or 10.1.x etc.

[v.1] Tested with an iPad mini 4 on 10.2.  (2-3-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Easier Text Selection</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>WKContentView</string>
				<key>displayName</key>
				<string>-(void) useSelectionAssistantWithMode:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>useSelectionAssistantWithMode:</string>
				<key>typeEncoding</key>
				<string>v20@0:8i16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
