<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobilesafari</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34057</integer>
	<key>description</key>
	<string>Disables auto zoom after using the "find on page" feature.  Useful for those annoyed by this stock iOS behavior.

[v.1] Tested with an iPad mini 4 on 10.2.  (2-3-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Disable Auto Zoom (Find On Page)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>WKContentView</string>
				<key>displayName</key>
				<string>-(bool) _zoomToRect:(CGRect) withOrigin:(CGPoint) fitEntireRect:(bool) minimumScale:(double) maximumScale:(double) minimumScrollDistance:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_zoomToRect:withOrigin:fitEntireRect:minimumScale:maximumScale:minimumScrollDistance:</string>
				<key>typeEncoding</key>
				<string>B92@0:8{CGRect={CGPoint=dd}{CGSize=dd}}16{CGPoint=dd}48B64d68d76d84</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
