<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34201</integer>
	<key>description</key>
	<string>Prevents the lockscreen from waking/showing whenever new notifications are received.  This will prevent unnecessary battery drain by preventing the screen from lighting up.

I titled this patch "IllLookLater" since it does similar to that tweak but I have no affiliation.

[v.1] Tested with an iPad mini 4 on 10.2.  (2-5-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS - IllLookLater (Prevent Screen Waking When Receiving New Notifications)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNCScreenController</string>
				<key>displayName</key>
				<string>-(void) _turnOnScreen</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_turnOnScreen</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
