<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34366</integer>
	<key>description</key>
	<string>Prevents the album artwork from disappearing when receiving a notification.

NOTE: The artwork will still disappear if you attempt to open the notification or rotate the device.

[v.1] Tested with an iPad mini 4 on 10.2.  (2-9-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS - Keep Album Artwork When Receiving Notifications</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDashBoardNotificationListViewController</string>
				<key>displayName</key>
				<string>-(void) _updatePresentation</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_updatePresentation</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
