<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34432</integer>
	<key>description</key>
	<string>Disables the sound, vibration &amp; screen from waking when connecting (or disconnecting) to a power source.

[v.1] Tested with an iPad mini 4 on 10.2.  (2-10-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>StealthPower</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUIController</string>
				<key>displayName</key>
				<string>-(void) playConnectedToPowerSoundIfNecessary</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>playConnectedToPowerSoundIfNecessary</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUIController</string>
				<key>displayName</key>
				<string>-(void) ACPowerChanged</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>ACPowerChanged</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
