<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34577</integer>
	<key>description</key>
	<string>Makes spotlight's search header background transparent &amp; removes the blur when scrolling.

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via email.  (2-13-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Spotlight - Transparent (Search Header)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SPUINavigationBar</string>
				<key>displayName</key>
				<string>-(void) updateBlurProgress:(double) animated:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>updateBlurProgress:animated:</string>
				<key>typeEncoding</key>
				<string>v28@0:8d16B24</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SPUIHeaderBlurView</string>
				<key>displayName</key>
				<string>-(void) updateEffect</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>updateEffect</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
