<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.camera</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34763</integer>
	<key>description</key>
	<string>Disables volume buttons from capturing pictures or video.

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via email.  (2-17-17)

☞PayPal:  goin730@gmail</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Disable Volume Button Capturing</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMViewfinderViewController</string>
				<key>displayName</key>
				<string>-(bool) _allowsPhysicalCaptureInteraction</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_allowsPhysicalCaptureInteraction</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
