<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>34767</integer>
	<key>description</key>
	<string>Increases the size of the toggle button text  (i.e. AirPlay, AirDrop, Night Shift etc) in control center.

TIP:  Looks good with "CC - No Toggle Button State Text (Airplay, AirDrop, Night Shift)".

[v.1] Tested with an iPad mini 4 on 10.2.  (2-17-17)

☞PayPal:  goin730@gmail</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>CC - Larger Toggle Button Text (Airplay, AirDrop, Night Shift)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CCUIControlCenterButton</string>
				<key>displayName</key>
				<string>-(void) setFont:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setFont:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
