<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>35675</integer>
	<key>description</key>
	<string>Makes the Notification Center background transparent.

[v.1] Tested with an iPad mini 4 on 10.2.  (3-9-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>NC - Transparent</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterViewController</string>
				<key>displayName</key>
				<string>-(long long) _defaultBackdropViewStyle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_defaultBackdropViewStyle</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>-2</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterViewController</string>
				<key>displayName</key>
				<string>-(bool) tintsBackground</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>tintsBackground</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
