<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>35865</integer>
	<key>description</key>
	<string>Makes bubble backgrounds semi-transparent for all notifications, banners &amp; widgets on the LS &amp; NC etc.

[v.1] Tested with an iPad mini 4 10.2.  Made as a request via Flex comments &amp; r/jailbreak.  (3-14-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS/NC - Bubble (Semi-Transparent)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NCShortLookView</string>
				<key>displayName</key>
				<string>-(void) _configureBackgroundViewIfNecessary</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_configureBackgroundViewIfNecessary</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
