<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>36173</integer>
	<key>description</key>
	<string>Disables the quick reply pull down view from dismissing/redirecting to the messages app when tapping inside the QR view popup.  It may also disable it from closing when tapping outside the QR view popup thereby preventing QR dismissal except when tapping the "x" but I can't confirm this on my iPad mini 4. 

[v.1] Tested with an iPad mini 4 10.2.  Made as a request via r/jailbreak.  (3-22-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Banners - No Quick Reply Dismiss</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NCNotificationLongLookViewController</string>
				<key>displayName</key>
				<string>-(void) _handleNotificationTap:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_handleNotificationTap:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NCNotificationLongLookViewController</string>
				<key>displayName</key>
				<string>-(void) _handleBackgroundTap:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_handleBackgroundTap:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
