<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>37950</integer>
	<key>description</key>
	<string>Removes the status bar (&amp; leftover space) in most apps.

IMPORTANT:  Also disables all double sized "in use" status bars so therefore you'll need to access these apps via the switcher (or the HS if not using the SpringBoard patch).

NOTE:  Use this along with the SpringBoard patch "Status Bar - No Status Bar (nor space)" to remove the status bar from the LS/HS.

[v.1] Tested with 10.2.  Made as a request via the Flex comments.  (6-3-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Status Bar - No Status Bar (nor space)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIViewController</string>
				<key>displayName</key>
				<string>-(bool) prefersStatusBarHidden</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>prefersStatusBarHidden</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIApplication</string>
				<key>displayName</key>
				<string>-(bool) _isStatusBarHiddenForOrientation:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_isStatusBarHiddenForOrientation:</string>
				<key>typeEncoding</key>
				<string>B24@0:8q16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
