<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38204</integer>
	<key>description</key>
	<string>Allows you to use custom text for tab bar badges.  By default, I used a single character space to give all badges a clean look but you can use any text, number or emoji you choose.

Only tested in a few stock apps so it may not work in third party apps.

[v.1] Tested with an iPad mini 4 on 10.2.  (6-19-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Tab Bar - (Badge): Custom Text</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIBadgeView</string>
				<key>displayName</key>
				<string>-(id) initWithText:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithText:</string>
				<key>typeEncoding</key>
				<string>@24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Custom Text...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string> </string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
