<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38206</integer>
	<key>description</key>
	<string>Provides options to change the font size and hide tab bar elements.  By default, I have everything hidden except for the labels of which I've made larger.  You can choose what you want shown or hidden by using the variables I suggested or by just deleting the units of items you want shown.

- Change Tab Bar: Label Font Size
- Hide Tab Bar: Image/Label/Background
- Hide Badge: Background/Text

P=pass-through  N=NULL

Only tested in a few stock apps so it may not work in third party apps.

[v.1] Tested with an iPad mini 4 on 10.2.  (6-19-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Tab Bar - Simply Large Labels (Customizable)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITabBarButtonLabel</string>
				<key>displayName</key>
				<string>-(id) _fontForIdiom:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_fontForIdiom:</string>
				<key>typeEncoding</key>
				<string>@24@0:8q16</string>
			</dict>
			<key>name</key>
			<string>Tab Bar - Label Font: (Stock=P, Large=2, Bold=3)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>2</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UITabBarButton</string>
				<key>displayName</key>
				<string>-(id) initWithImage:(id) selectedImage:(id) label:(id) withInsets:(UIEdgeInsets) tabBar:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithImage:selectedImage:label:withInsets:tabBar:</string>
				<key>typeEncoding</key>
				<string>@80@0:8@16@24@32{UIEdgeInsets=dddd}40@72</string>
			</dict>
			<key>name</key>
			<string>Tab Bar - Image:(Arg#1), Label:(Arg#3): (Hide=N)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UITabBarVisualProviderLegacyIOS</string>
				<key>displayName</key>
				<string>-(void) _updateBackground</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_updateBackground</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Tab Bar - BG</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIBadgeView</string>
				<key>displayName</key>
				<string>-(void) _updateBackground</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_updateBackground</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Badge - BG</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIBadgeView</string>
				<key>displayName</key>
				<string>-(void) _setupLabelIfNecessary</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setupLabelIfNecessary</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Badge - Text</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
