<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38303</integer>
	<key>description</key>
	<string>Disables the headset middle button triple click action.

*Useful if you have broken buttons which trigger inadvertently.

[v.1] Tested with an iPad mini 4 on 10.2.  (6-26-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>ButtonDisabler - Headset Middle Button (Triple Click) (iOS 10)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIApplication</string>
				<key>displayName</key>
				<string>-(void) _handleHeadsetButtonTripleClick</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_handleHeadsetButtonTripleClick</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
