<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38301</integer>
	<key>description</key>
	<string>Disables the lock/sleep/power button.

*Useful if you have a broken power button which triggers inadvertently.

NOTE:  When using this patch, I suggest using another tweak like Tage or Activator to assign an event/gesture to lock your device i.e. "Anywhere&gt;(any event/gesture)&gt;Lock Device".

[v.1] Tested with an iPad mini 4 on 10.2.  (6-26-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>ButtonDisabler - Lock Button (iOS 10)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBLockHardwareButton</string>
				<key>displayName</key>
				<string>-(bool) gestureRecognizerShouldBegin:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>gestureRecognizerShouldBegin:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
