<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38382</integer>
	<key>description</key>
	<string>Disables the acknowledgement picker bar from appearing.

This bar normally displays acknowledgement glyphs (i.e. heart, thumbs up, thumbs down, HA HA, !! and ?) when you long hold on message balloons.  This patch is useful if you don't like or use this feature.

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (7-1-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Acknowledgement Picker Bar</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CKMessageAcknowledgmentPickerBarViewController</string>
				<key>displayName</key>
				<string>-(void) loadView</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>loadView</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
