<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38383</integer>
	<key>description</key>
	<string>Changes the color of Spotlight's search bar items (i.e. magnifying glass glyph, "Search" text, cursor, text input, text highlight selection &amp; microphone glyph) accessed from the lock screen, today views &amp; notification center.  Change the color to your liking.

NOTE:  This patch might not work with some other patches or tweaks that hook the search bar header.

[v.1] Tested with an iPad mini 4 on 10.2.  (7-1-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Spotlight - Custom Search Bar Items Color (Search Header)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SPUITextField</string>
				<key>displayName</key>
				<string>-(void) updateWithColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>updateWithColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Color...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:255,127,0,255</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
