<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38535</integer>
	<key>description</key>
	<string>Disables the today view pages from everywhere i.e. on the LS, HS &amp; NC.  You can still enable the today view for specific sections by deleting or changing the respective unit's return values to "pass-through".

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (7-12-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS/HS/NC - No Today View</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBPolicyAggregator</string>
				<key>displayName</key>
				<string>-(bool) _allowsCapabilityLockScreenTodayViewWithExplanation:(id*)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_allowsCapabilityLockScreenTodayViewWithExplanation:</string>
				<key>typeEncoding</key>
				<string>B24@0:8^@16</string>
			</dict>
			<key>name</key>
			<string>LS</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBRootFolderView</string>
				<key>displayName</key>
				<string>-(unsigned long long) _minusPageCount</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_minusPageCount</string>
				<key>typeEncoding</key>
				<string>Q16@0:8</string>
			</dict>
			<key>name</key>
			<string>HS</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>14</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>14</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBSearchEtceteraLayoutView</string>
				<key>displayName</key>
				<string>-(bool) _shouldAllowScrollingForStyle:(unsigned long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldAllowScrollingForStyle:</string>
				<key>typeEncoding</key>
				<string>B24@0:8Q16</string>
			</dict>
			<key>name</key>
			<string>NC</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationCenterWithSearchViewController</string>
				<key>displayName</key>
				<string>-(bool) showPageControl</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showPageControl</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>NC</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
