<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38608</integer>
	<key>description</key>
	<string>Disables the passcode screen from showing when you press the home button on the lockscreen.

Useful if you have a finicky home button or are just annoyed by this native feature.

TIP:  As a backup way to get to the passcode screen, setup an Activator event on the lockscreen (i.e. swipe on bottom of the screen from left to right etc.) to "Unlock Device".

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (7-19-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>LS - Disable Home Button Press Shows Passcode Screen</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBLockScreenManager</string>
				<key>displayName</key>
				<string>-(void) homeButtonShowPasscodeRecognizerRequestsPasscodeUIToBeShown:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>homeButtonShowPasscodeRecognizerRequestsPasscodeUIToBeShown:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
