<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>38831</integer>
	<key>description</key>
	<string>Prevents the "123" keyboard from automatically going back to the main keyboard after tapping the space key.

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak.  (8-4-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>KB - Sticky "123" Key (No Auto Dismiss After Pressing Space Key)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIKeyboardImpl</string>
				<key>displayName</key>
				<string>-(void) updateChangeTimeAndIncrementCount</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>updateChangeTimeAndIncrementCount</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
