<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39037</integer>
	<key>description</key>
	<string>Provides the following options to customize the search bar within apps.  By default, everything is hidden and I used a magnifying glass emoji as the text.

- Search Icon: (Hide, Show, Circle w/Arrow etc.)
- Custom Placeholder Text
- Custom Placeholder Text Color
- Placeholder Text Alignment
- BG Alpha
- Hide Text Field BG

UPDATES:
(8-20-17) *Initial release
(8-23-17) *Fixed AppStore crashing

[v.2] Tested with an iPad mini 4 10.2.  (8-23-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Search Bar - Custom  🔍</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBar</string>
				<key>displayName</key>
				<string>-(id) _imageForSearchBarIcon:(long long) state:(unsigned long long) customImage:(bool*)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_imageForSearchBarIcon:state:customImage:</string>
				<key>typeEncoding</key>
				<string>@40@0:8q16Q24^B32</string>
			</dict>
			<key>name</key>
			<string>Search Icon (Return Value): (Hide=N, Show=P)</string>
			<key>overrides</key>
			<array>
				<dict/>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarTextFieldLabel</string>
				<key>displayName</key>
				<string>-(void) setText:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setText:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Custom Placeholder Text...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>🔍</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarTextFieldLabel</string>
				<key>displayName</key>
				<string>-(void) setTextColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTextColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Set Custom Placeholder Text Color...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:142,142,147,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarTextField</string>
				<key>displayName</key>
				<string>-(bool) _shouldCenterPlaceholder</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldCenterPlaceholder</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Placeholder Text Alignment: (Default=P, Always Center=T, Allign Left=F)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISearchBarBackground</string>
				<key>displayName</key>
				<string>-(id) _createBackgroundImageForBarStyle:(long long) alpha:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_createBackgroundImageForBarStyle:alpha:</string>
				<key>typeEncoding</key>
				<string>@32@0:8q16d24</string>
			</dict>
			<key>name</key>
			<string>BG Alpha (Arg#2): (Range 0.0-1.0, Hide=0, Default=P)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UISearchBarSearchFieldBackgroundView</string>
				<key>displayName</key>
				<string>-(void) updateView</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>updateView</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string>Hide Text Field BG: (No=D)</string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
