<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.camera</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39275</integer>
	<key>description</key>
	<string>Forces video to record in portrait orientation regardless of device orientation.

[v.1] Tested with an iPad mini 4 10.2.  Made as a request via Reddit user /u/lightswitch01.  (9-9-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Always Record Video In Portrait Orientation</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CAMStartVideoRecordingCommand</string>
				<key>displayName</key>
				<string>-(long long) _videoOrientationForCaptureOrientation:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_videoOrientationForCaptureOrientation:</string>
				<key>typeEncoding</key>
				<string>q24@0:8q16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
