<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39312</integer>
	<key>description</key>
	<string>Hides the header title text (i.e. "Recent", "Monday" etc) in notification center.

[v.1] Tested with app version 10.2.  Made as a request via Reddit user /u/joekempis.  (9-11-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>NC - No Header Title Text (i.e. "Recent", "Monday" etc.)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NCNotificationListSectionHeaderView</string>
				<key>displayName</key>
				<string>-(void) setTitle:(id) forSectionIdentifier:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTitle:forSectionIdentifier:</string>
				<key>typeEncoding</key>
				<string>v32@0:8@16@24</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string> </string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
