<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39329</integer>
	<key>description</key>
	<string>Keeps/shows the status bar when receiving notifications.

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via r/jailbreak user u/PakitoNL.  (9-12-17).

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Banners - Show Status Bar When Receivng Notifcations</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBNotificationBannerDestination</string>
				<key>displayName</key>
				<string>-(void) _setStatusBarsHidden:(bool) withDuration:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setStatusBarsHidden:withDuration:</string>
				<key>typeEncoding</key>
				<string>v28@0:8B16d20</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
