<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39572</integer>
	<key>description</key>
	<string>Removes the slide up animation (not the System Close Animation) when closing apps with the tweak Tage.  Works well if you don't want animations or if you already disable or speed up other animations.

IMPORTANT:  This patch is only useful for Tage users who have "System Close Animation" toggled "OFF" in Settings -&gt; Tage -&gt; CLOSE APP OR ACTIVATE SWITCHER

NOTE:  This also makes the in app home screen wallpaper backgrounds black (i.e. iBooks, Safari Tab Overview &amp; probably the Phone app etc).

[v.1] Tested with an iPad mini 4 10.2.  (9-30-17)</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Animations - No App to HS Close Animation (Tage)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBUIAnimationZoomDownApp</string>
				<key>displayName</key>
				<string>-(void) _setHidden:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setHidden:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBApplication</string>
				<key>displayName</key>
				<string>-(long long) wallpaperStyle</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>wallpaperStyle</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
