<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39778</integer>
	<key>description</key>
	<string>Allows you to set a custom size for the switcher icons &amp; labels.  I provided some general suggestions for variables and by default, I hid the labels but you can re-enable them.

P=pass-through

[v.1] Tested with an iPad mini 4 on 10.2.  (10-20-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Switcher - Custom Icon &amp; Label Size</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDeckSwitcherItemContainer</string>
				<key>displayName</key>
				<string>-(void) setContentPageViewScale:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setContentPageViewScale:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Set Size... (Tiny=1.5, Small=1, Stock=.75, Big=.5 Bigger=.4, Huge=.3)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<real>0.5</real>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDeckSwitcherIconImageContainerView</string>
				<key>displayName</key>
				<string>-(id) displayName</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>displayName</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string>Hides Labels: (Show=P)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string></string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
