<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39862</integer>
	<key>description</key>
	<string>Aligns the lockscreen time &amp; date to the left side.  Also provides options to hide the today view's weather &amp; date/time views and possibly enables LS rotation for iPhone users.

[v.1] Tested with an iPad mini 4 on 10.2.  Made after reading a similar request on /r/jailbreak.  (10-27-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>LS - Align Time &amp; Date To Left</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBSearchEtceteraIsolatedViewController</string>
				<key>displayName</key>
				<string>-(bool) _deviceSupportsWeatherDisplay</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_deviceSupportsWeatherDisplay</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Today View - Weather Visibility: (Show=T, Hide=F)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDashBoardTodayViewController</string>
				<key>displayName</key>
				<string>-(bool) _shouldHideDateTimeForZeroWidgetDisplay</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHideDateTimeForZeroWidgetDisplay</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Today View - Time/Date Visibility: (Show=F, Hide=T)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDashBoardViewController</string>
				<key>displayName</key>
				<string>-(bool) shouldAutorotate</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>shouldAutorotate</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>LS - Enable Rotation: (Yes=T, No=F)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBFLockScreenDateView</string>
				<key>displayName</key>
				<string>-(void) setAlignmentPercent:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAlignmentPercent:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<integer>-1</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
