<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39963</integer>
	<key>description</key>
	<string>Removes the "Cancel" button from alert popups and allows you to dismiss them by tapping anywhere on the screen.

NOTE:  This doesn't apply to notifications.

⚠️ WARNING:  iOS 9 users must also use the following SpringBoard patch to prevent the default tap to dismiss action on the HS from using "Delete" when organizing/deleting apps in jiggle/edit mode.

  •  "Alerts - No Cancel Button: App Deletion FIX (iOS 9)"

[v.1] Tested with an iP6+ &amp; iPad mini 2 on 9.3.3 &amp; an iPad mini 4 on 10.2.  Requested by r/jailbreak user /u/Kolyei.  (11-7-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Alerts - No Cancel Button (DismissAnywhere)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAlertController</string>
				<key>displayName</key>
				<string>-(bool) _canDismissWithGestureRecognizer</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_canDismissWithGestureRecognizer</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(bool) showsCancelAction</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showsCancelAction</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(bool) _shouldHaveCancelActionInCollectionView</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_shouldHaveCancelActionInCollectionView</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_UIAlertControllerView</string>
				<key>displayName</key>
				<string>-(void) setCancelActionIsDiscrete:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setCancelActionIsDiscrete:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
