<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>39991</integer>
	<key>description</key>
	<string>Removes the icon labels from the dock &amp; inside folders and reduces the height of the dock to compensate for the missing labels.  You can experiment with different values for the dock height or still use the stock dock height by deleting the specified unit.

⚠️IMPORTANT:  This patch depends on ≥ Flex 3 beta version 3~beta36 so please go install it BEFORE downloading this patch.  The beta can be downloaded by adding "http://getdelta.co/" to your Cydia repo sources.

NOTE:  This patch hasn't been tested with any other patches/tweaks that change icon label colors.

KNOWN ISSUE:  A safemode crash occurs when opening a folder if it has Activator inside it.

D=Delete

Credits: Thanks to prouser and @misses for the dock positioning method

[v.1] Tested with an iPad mini 4 on 10.2.  (11-11-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>No Icon Labels (Dock &amp; Folders)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBRootFolderView</string>
				<key>displayName</key>
				<string>-(void) _setDockOffscreenFraction:(double)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_setDockOffscreenFraction:</string>
				<key>typeEncoding</key>
				<string>v24@0:8d16</string>
			</dict>
			<key>name</key>
			<string>Reduce Dock Height: (No/Stock=D)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>15</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>15</integer>
						<key>value</key>
						<real>0.055</real>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBIconView</string>
				<key>displayName</key>
				<string>-(id) _legibilitySettingsWithStyle:(long long) primaryColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_legibilitySettingsWithStyle:primaryColor:</string>
				<key>typeEncoding</key>
				<string>@32@0:8q16@24</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>2</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,0,0,0</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBMutableIconLabelImageParameters</string>
				<key>displayName</key>
				<string>-(void) setAccessibilityIncreaseContrastEnabled:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setAccessibilityIncreaseContrastEnabled:</string>
				<key>typeEncoding</key>
				<string>v20@0:8B16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
