<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.tinyspeck.chatlyio</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>40010</integer>
	<key>description</key>
	<string>Addon fix for Eclipse users to make the background dark and the text white in the Slack app.

⚠️IMPORTANT:  This patch depends on ≥ Flex 3 beta version 3~beta36 so please go install it BEFORE downloading this patch.  The beta can be downloaded by adding "http://getdelta.co/" to your Cydia repo sources.

UPDATES:
(11-12-17) *Initial release
(11-12-17) *Added methods for version 3.32

[v.2] Tested with Slack versions 3.15.1 &amp; 3.32.  Made as a request via r/jailbreak user /u/m1crodose and many others I'll mention once I post the final AIO patch.   (11-12-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Dark Mode Eclipse FIX</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SLKTheme</string>
				<key>displayName</key>
				<string>-(id) mainBackgroundColor</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>mainBackgroundColor</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:27,27,27,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SLKTheme</string>
				<key>displayName</key>
				<string>-(id) textColor</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>textColor</string>
				<key>typeEncoding</key>
				<string>@16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:239,239,239,255</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SLKTheme</string>
				<key>displayName</key>
				<string>-(void) setType:(unsigned long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setType:</string>
				<key>typeEncoding</key>
				<string>v24@0:8Q16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>14</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>14</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
