<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>40071</integer>
	<key>description</key>
	<string>Removes the blur from the passcode screen (&amp; lockscreen).

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request via email.  (11-21-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Passcode - No Blur</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBDashBoardBackgroundView</string>
				<key>displayName</key>
				<string>-(void) _updateAppearanceForBackgroundStyle:(long long) transitionToSettings:(bool)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_updateAppearanceForBackgroundStyle:transitionToSettings:</string>
				<key>typeEncoding</key>
				<string>v28@0:8q16B24</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
