<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.flex.systemwide</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>40077</integer>
	<key>description</key>
	<string>Hides activity items from activity sheets giving your share menu a cleaner look.  Allows you to hide all the activity items of which the stock iOS "More" button normally prevents/restricts you from hiding.

By default, I've hidden all items except the "Use as Wallpaper" option so before enabling the patch you should go enable or disable which activity items you want shown.

[v.1] Tested with an iPad mini 4 on 10.2.  Made as a request r/jailbreak user /u/Saiah226/.  (11-21-17)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Activity Sheets - Hide Activities (Cloaky)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUMessageActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Message - Photos (Top Row)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIMessageActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Message - Notes (Top Row)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUMailActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Mail - Photos (Top Row)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIMailActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Mail - Notes (Top Row)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIPrintActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Save PDF to iBooks (Top Row) &amp; Print</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UICopyToPasteboardActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Copy</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUDuplicateActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Duplicate</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUSlideShowActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Slideshow</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUAirPlayActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>AirPlay</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUHideActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Hide</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUAssignToContactActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Assign to Contact</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUWallpaperActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Use as Wallpaper</string>
			<key>overrides</key>
			<array>
				<dict/>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>AddBookmarkUIActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Add Bookmark</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>AddToFavoritesUIActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Add to Favorites</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAddToReadingListActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Add to Reading List</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>AddToHomeScreenUIActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Add to HomeScreen</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>AddToSharedLinksUIActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Add to Shared Links</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_SFFindOnPageUIActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Find on Page</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>_SFRequestDesktopSiteUIActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Request Desktop Site</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UISaveToCameraRollActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Safe Image(s)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIAssignToContactActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Assign to Contact</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>ICPasswordAddOrRemovePasswordActivity</string>
				<key>displayName</key>
				<string>-(bool) canPerformWithActivityItems:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>canPerformWithActivityItems:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Lock Note</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
