<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.mobileslideshow</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>40700</integer>
	<key>description</key>
	<string>Gives the albums tab a cleaner look by hiding all albums (including "Recently Deleted").

By default, I've hidden all albums except the "Camera Roll" (for most setups) but you can change the number to show as many albums as you need for your specific setup.  Use True, False and pass-through to hide &amp; show albums.

[v.1] Tested with an iPad mini 4 on 10.2.  Requested by email user "PoppinCollars".  (1-30-18)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Hide All Albums (Recently Deleted etc)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PXPhotoKitCollectionsDataSource</string>
				<key>displayName</key>
				<string>-(long long) numberOfItemsInSection:(long long)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>numberOfItemsInSection:</string>
				<key>typeEncoding</key>
				<string>q24@0:8q16</string>
			</dict>
			<key>name</key>
			<string>Number Of Albums Shown: (Return Value): Set number to your needs...</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PXPhotoKitCollectionsDataSourceManager</string>
				<key>displayName</key>
				<string>-(bool) _containsAnyAssets:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_containsAnyAssets:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Stock Albums (Favorites, Videos, Selfies, Screenshots Etc): (Hide=F, Show=P)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUAlbumListViewController</string>
				<key>displayName</key>
				<string>-(bool) showPeople</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showPeople</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>People</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PHFetchOptions</string>
				<key>displayName</key>
				<string>-(bool) includePlacesSmartAlbum</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>includePlacesSmartAlbum</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Places</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PUAlbumListViewController</string>
				<key>displayName</key>
				<string>-(bool) showScenes</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>showScenes</string>
				<key>typeEncoding</key>
				<string>B16@0:8</string>
			</dict>
			<key>name</key>
			<string>Scenes</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PXPhotoKitCollectionsDataSource</string>
				<key>displayName</key>
				<string>-(long long) numberOfSections</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>numberOfSections</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>My Albums: (Hide=1, Show=P)</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>9</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>9</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>PXPhotoKitCollectionsDataSourceManager</string>
				<key>displayName</key>
				<string>-(bool) containsAnyAssets:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>containsAnyAssets:</string>
				<key>typeEncoding</key>
				<string>B24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
