<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.google.ios.youtube</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>41639</integer>
	<key>description</key>
	<string>Always show the player bar when playing video.

[v.1] Tested with YouTube version 13.11.  Requested by /u/GeicoPR.  (3-26-18)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Always Show Player Bar (v. 13.11)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTContentVideoPlayerOverlayView</string>
				<key>displayName</key>
				<string>-(void) setRelatedVideosOverlayView:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setRelatedVideosOverlayView:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string>Removes Related Videos: (No=Delete)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTContentVideoPlayerOverlayViewController</string>
				<key>displayName</key>
				<string>-(void) adjustPlayerBarPositionForRelatedVideos</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>adjustPlayerBarPositionForRelatedVideos</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>YTPlayerBarController</string>
				<key>displayName</key>
				<string>-(void) setPlayerViewLayout:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setPlayerViewLayout:</string>
				<key>typeEncoding</key>
				<string>v20@0:8i16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>4</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
