<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>41664</integer>
	<key>description</key>
	<string>Disables dismissing your quick reply message view when tapping outside the message box.

- Useful for those who are annoyed by accidentally dismissing this view.  Only tested on iOS 10.2 but may very well work on iOS 11 too.

NOTE:  This patch has no affiliation with the tweak/dev of "NoTouchCancelReply".

[v.1] Tested with an iPad mini 4 on 10.2.  Requested by /u/BrokeCityKids.  (3-27-18)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>LS - NoTouchCancelReply</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NCNotificationLongLookViewController</string>
				<key>displayName</key>
				<string>-(void) _handleBackgroundTap:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_handleBackgroundTap:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
