<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.burbn.instagram</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>41805</integer>
	<key>description</key>
	<string>Removes the stories cell from feeds and the search page.

[v.1] Tested with Instagram version 39.0.  Requested in the comments section by "iPhone5SBlack".  (4-4-18)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>No More Stories (v. 39.0)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>IGStoryTraySectionController</string>
				<key>displayName</key>
				<string>-(id) initWithUserSession:(id) dataController:(id) dataSource:(id) loggingContext:(id) loggingDelegate:(id) entryPoint:(long long) traySectionConfiguration:(id) storyViewerConfiguration:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>initWithUserSession:dataController:dataSource:loggingContext:loggingDelegate:entryPoint:traySectionConfiguration:storyViewerConfiguration:</string>
				<key>typeEncoding</key>
				<string>@80@0:8@16@24@32@40@48q56@64@72</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>7</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
