<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>42366</integer>
	<key>description</key>
	<string>Hides the header title text from all notifications &amp; widgets on the today view pages of the LS, HS, NC &amp; within Banners.

[v.1] Tested with an iPad mini2 on 11.1.2.  Made as a request via r/jailbreak user /u/aadharsh_2.  (5-18-18)

☞Donations:  paypal.me/goin730</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>LS/HS/NC/Banners - No Title Text (iOS 11)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MTPlatterHeaderContentView</string>
				<key>displayName</key>
				<string>-(void) setTitle:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setTitle:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string> </string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
