<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>42379</integer>
	<key>description</key>
	<string>Disables dismissing of the quick reply message view on the lockscreen when tapping outside the message box.

- Useful for those who are annoyed by accidentally dismissing this view.

NOTE:  This patch has no affiliation with the tweak/dev of "NoTouchCancelReply".

[v.1] Tested with an iPad mini2 on 11.1.2.  Made as a request via r/jailbreak user /u/GodCake.  (5-19-18)

☞Donations:  paypal.me/goin730</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>LS - NoTouchCancelReply (iOS 11)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>NCNotificationLongLookViewController</string>
				<key>displayName</key>
				<string>-(void) _handleBackgroundTap:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_handleBackgroundTap:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
