<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.apple.springboard</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>42416</integer>
	<key>description</key>
	<string>Makes exiting folders easier by allowing tapping inside &amp; outside the open folder to dismiss.

[v.1] Tested with an iPad mini2 on 11.1.2.  (5-24-18)

☞Donations:  paypal.me/goin730</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Folders - Allow Touch Inside To Dismiss (iOS 11)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>SBFloatyFolderView</string>
				<key>displayName</key>
				<string>-(bool) _tapToCloseGestureRecognizer:(id) shouldReceiveTouch:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_tapToCloseGestureRecognizer:shouldReceiveTouch:</string>
				<key>typeEncoding</key>
				<string>B32@0:8@16@24</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>6</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>6</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
