<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.google.Maps</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>42448</integer>
	<key>description</key>
	<string>Provides more visible map real estate by making the header and footer bars transparent when navigating.  Also adds an option to force app orientations (useful for CarBridge tweak users).

[v.1] Tested with Google Maps version 4.50.  Requested by r/jailbreak user /u/Poopsquare.  (5-27-18)

☞Donations:  paypal.me/goin730</string>
	<key>formatVersion</key>
	<integer>3</integer>
	<key>title</key>
	<string>Transparent Header &amp; Footer Bars (CarBridge) (v. 4.50)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>UIDevice</string>
				<key>displayName</key>
				<string>-(long long) orientation</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>orientation</string>
				<key>typeEncoding</key>
				<string>q16@0:8</string>
			</dict>
			<key>name</key>
			<string>Force Orientation: (P=Stock Rotation, 0=Initial App Opening Orientation, 1=Portrait/Home Button Bottom, 2=Portrait/Home Button Top, 3=Landscape/Home Button Right, 4=Landscape/Home Button Left)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GMSNHeaderView</string>
				<key>displayName</key>
				<string>-(void) setPrimaryBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setPrimaryBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,0,0,0</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GMSNHeaderView</string>
				<key>displayName</key>
				<string>-(void) setStepSeparationColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setStepSeparationColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,0,0,0</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GMSNHeaderView</string>
				<key>displayName</key>
				<string>-(void) setSecondaryBackgroundColor:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>setSecondaryBackgroundColor:</string>
				<key>typeEncoding</key>
				<string>v24@0:8@16</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>3</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>FLcolor:0,0,0,0</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>AZNavFooterContainerView</string>
				<key>displayName</key>
				<string>-(void) layoutSubviews</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>layoutSubviews</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>GMSCopyrightOverlay</string>
				<key>displayName</key>
				<string>-(void) layoutSubviews</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>layoutSubviews</string>
				<key>typeEncoding</key>
				<string>v16@0:8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
