<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.rhapsody.iphone.Napster3</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>7998</integer>
	<key>description</key>
	<string>Automatically signs you in without making an account.  Tested with versions 3.8 - 3.11.3.  Briefly tested with ver. 3.11.4 &amp; still seems to work.  UPDATED (10-29-14)

(NOTE:)  A free account is required for radio playback &amp; to make playlists.  Unlike the Napst0d clone of this patch, ALL features are enabled if you make a free account.

~If you can't sign up via this app, go to napster.com to sign up (you need to use a VPN (UK) etc. if you're in a non-supported country)~

(FYI:) You don't need to give credit card info...disregard this request.  Just enter your email &amp; your free account will be made without providing this additional info.

INSTRUCTIONS:  [Don't enable this patch until you sign in with your account!]  

(1) Sign in with your account. 
(2) Close Napster from multitasking. 
(3) Enable this patch. 
(4) Done.</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>Signed In (ver. 3.8 - 3.11.4)</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHAccountController</string>
				<key>displayName</key>
				<string>-(BOOL) signedIn</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>signedIn</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) signedIn</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHAccountController</string>
				<key>displayName</key>
				<string>-(void) validateSessionForTrack:(id) station:(id) numberOfAttempts:(int)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>validateSessionForTrack:station:numberOfAttempts:</string>
				<key>typeEncoding</key>
				<string>v20@0:4@8@12i16</string>
			</dict>
			<key>name</key>
			<string>Unit for -(void) validateSessionForTrack:(id) station:(id) numberOfAttempts:(int)</string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHRadioPlayableItemsProvider</string>
				<key>displayName</key>
				<string>-(BOOL) supportsSkipBackwards</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>supportsSkipBackwards</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) supportsSkipBackwards</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHRadioPlayableItemsProvider</string>
				<key>displayName</key>
				<string>-(BOOL) supportsUserScrubbing</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>supportsUserScrubbing</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) supportsUserScrubbing</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>LocalyticsDatapointHelper</string>
				<key>displayName</key>
				<string>+(BOOL) isDeviceJailbroken</string>
				<key>prefix</key>
				<string>+</string>
				<key>selector</key>
				<string>isDeviceJailbroken</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for +(BOOL) isDeviceJailbroken</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHAccountController</string>
				<key>displayName</key>
				<string>-(BOOL) upgradeRequired</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>upgradeRequired</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) upgradeRequired</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<false/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHAccountController</string>
				<key>displayName</key>
				<string>-(BOOL) hasStreamEntitlements</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>hasStreamEntitlements</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) hasStreamEntitlements</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHAccountController</string>
				<key>displayName</key>
				<string>-(BOOL) hasRadioEntitlements</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>hasRadioEntitlements</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) hasRadioEntitlements</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHAccountController</string>
				<key>displayName</key>
				<string>-(BOOL) hasDownloadEntitlements</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>hasDownloadEntitlements</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) hasDownloadEntitlements</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHRadioPlayContext</string>
				<key>displayName</key>
				<string>-(BOOL) supportsSkipBackwards</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>supportsSkipBackwards</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) supportsSkipBackwards</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHRadioPlayContext</string>
				<key>displayName</key>
				<string>-(BOOL) supportsUserScrubbing</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>supportsUserScrubbing</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) supportsUserScrubbing</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>RHAccountController</string>
				<key>displayName</key>
				<string>-(BOOL) hasDownloadFavoriteEntitlements</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>hasDownloadFavoriteEntitlements</string>
				<key>typeEncoding</key>
				<string>c8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(BOOL) hasDownloadFavoriteEntitlements</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>5</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>5</integer>
						<key>value</key>
						<true/>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>CRAppRater</string>
				<key>displayName</key>
				<string>-(id) rateMeAlert</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>rateMeAlert</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string>Unit for -(id) rateMeAlert</string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
