<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationIdentifier</key>
	<string>com.turner.mmod2011temp</string>
	<key>author</key>
	<string>sinfool</string>
	<key>authorID</key>
	<integer>6719</integer>
	<key>cloudID</key>
	<integer>9780</integer>
	<key>description</key>
	<string>Removes banner ads &amp; commercials.

⚑ UPDATES:
(3-??-14) *Initial release
(3-20-15) *Updated
(3-16-16) *Updated &amp; changed title from "No Commercials or Banner Ads UPDATED"
(3-17-16) *Removed another banner ad

[v.4] Tested with (versions 6.0 - 6.0.2).  (3-17-16)

☞PayPal:  goin730@gmail.com</string>
	<key>formatVersion</key>
	<integer>0</integer>
	<key>title</key>
	<string>No Ads (v. 6.0 - 6.0.2)  ₃₋₁₇₋₁₆ ⚑</string>
	<key>units</key>
	<array>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>FWVideoAdRenderer</string>
				<key>displayName</key>
				<string>-(id) init</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>init</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>FWVideoAdRenderer2</string>
				<key>displayName</key>
				<string>-(id) init</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>init</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>FWRendererController</string>
				<key>displayName</key>
				<string>-(id) _getSlotType</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>_getSlotType</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MMLGameCenterVideoPlayerViewController</string>
				<key>displayName</key>
				<string>-(void) midrollAdStarted:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>midrollAdStarted:</string>
				<key>typeEncoding</key>
				<string>v12@0:4@8</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array/>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MMLSponsorshipManager</string>
				<key>displayName</key>
				<string>-(id) sponsors</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>sponsors</string>
				<key>typeEncoding</key>
				<string>@8@0:4</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<dict>
					<key>argument</key>
					<integer>0</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>methodObjc</key>
			<dict>
				<key>className</key>
				<string>MMLSponsorshipManager</string>
				<key>displayName</key>
				<string>-(void) fetchLiveSponsorshipImage:(id) cachedOnly:(bool) completion:(id)</string>
				<key>prefix</key>
				<string>-</string>
				<key>selector</key>
				<string>fetchLiveSponsorshipImage:cachedOnly:completion:</string>
				<key>typeEncoding</key>
				<string>v36@0:8@16B24@?28</string>
			</dict>
			<key>name</key>
			<string></string>
			<key>overrides</key>
			<array>
				<array/>
				<dict>
					<key>argument</key>
					<integer>1</integer>
					<key>type</key>
					<dict>
						<key>subtype</key>
						<integer>0</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
					<key>value</key>
					<dict>
						<key>type</key>
						<integer>1</integer>
						<key>value</key>
						<string>(FLNULL)</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
